.comments
    h3 Комментарии (51)
    .media
        .media__img: a(href="#"): img(src="images/imgAva-3.png" alt="")
        .media__body
            b.text--info Ирина Смелова
            p редактор
            .margtop20
                p "Proaist.ru продолжает рассказывать об истории дошкольного образования в России. В прошлый раз мы познакомили читателей с людьми, стоящими у истоков первых детских садов в нашей стране. Сегодня речь коснется дошкольного образования после революции 1917 года. О том, какое место отводилось детям в молодом советском государстве, рассказала заместитель директора института проблем образования «Эврика» Наталья Шадрина."
                ul.list--inline.margtop20
                    li: p 5 часов назад
                    li: a.text--info(href="#") #[img(src="images/com-1.png" alt="")] 0
                    li: a.text--info.text--uppercase.text__xs(href="#"): b ответить
    .media
        .media__img: a(href="#"): img(src="images/imgAva-4.png" alt="")
        .media__body
            b.text--info Валерий Василеостровский
            p редактор
            .margtop20
                p "Proaist.ru продолжает рассказывать об истории дошкольного образования в России. В прошлый раз мы познакомили читателей с людьми, стоящими у истоков первых детских садов в нашей стране. Сегодня речь коснется дошкольного образования после революции 1917 года. О том, какое место отводилось детям в молодом советском государстве, рассказала заместитель директора института проблем образования «Эврика» Наталья Шадрина."
                ul.list--inline.margtop20
                    li: p 5 часов назад
                    li: a.text--info(href="#") #[img(src="images/com-1.png" alt="")] 3
                    li: a.text--info.text--uppercase.text__xs(href="#"): b ответить
            .media.media-sub
                .media__img: a(href="#"): img(src="images/imgAva-3.png" alt="")
                .media__body
                    b.text--info Ирина Смелова
                    p редактор
                    .margtop20
                        p "Proaist.ru продолжает рассказывать об истории дошкольного образования в России. В прошлый раз мы познакомили читателей с людьми, стоящими у истоков первых детских садов в нашей стране. Сегодня речь коснется дошкольного образования после революции 1917 года. О том, какое место отводилось детям в молодом советском государстве, рассказала заместитель директора института проблем образования «Эврика» Наталья Шадрина."
                        ul.list--inline.margtop20
                            li: p 5 часов назад
                            li: a.text--info(href="#") #[img(src="images/com-1.png" alt="")] 1
                            li: a.text--info.text--uppercase.text__xs(href="#"): b ответить
                    .media
                        .media__img: a(href="#"): img(src="images/imgAva-5.png" alt="")
                        .media__body
                            b.text--info Ирина Смелова
                            p редактор
                            .margtop20
                                p "Proaist.ru продолжает рассказывать об истории дошкольного образования в России. В прошлый раз мы познакомили читателей с людьми, стоящими у истоков первых детских садов в нашей стране. Сегодня речь коснется дошкольного образования после революции 1917 года. О том, какое место отводилось детям в молодом советском государстве, рассказала заместитель директора института проблем образования «Эврика» Наталья Шадрина."
                                ul.list--inline.margtop20
                                    li: p 5 часов назад
                                    li: a.text--info(href="#") #[img(src="images/com-1.png" alt="")] 1
                                    li: a.text--info.text--uppercase.text__xs(href="#"): b ответить
                            .media
                                .media__img: a(href="#"): img(src="images/imgAva-6.png" alt="")
                                .media__body
                                    b.text--info Ирина Смелова
                                    p редактор
                                    .margtop20
                                        p "Proaist.ru продолжает рассказывать об истории дошкольного образования в России. В прошлый раз мы познакомили читателей с людьми, стоящими у истоков первых детских садов в нашей стране. Сегодня речь коснется дошкольного образования после революции 1917 года. О том, какое место отводилось детям в молодом советском государстве, рассказала заместитель директора института проблем образования «Эврика» Наталья Шадрина."
                                        ul.list--inline.margtop20
                                            li: p 5 часов назад
                                            li: a.text--info(href="#") #[img(src="images/com-1.png" alt="")] 1
                                            li: a.text--info.text--uppercase.text__xs(href="#"): b ответить
    .text--center.margtop30
        h3.text--lowercase Для того, чтобы оставить комментарий, необходимо авторизоваться на нашем сайте.
        a.btn.btn--transparent(href="#") Войти