ul.pagination
    li.pagination__item
        a(href='#')
            i &larr;
    li.pagination__item.active
        a(href='#') 1
    - for (var x = 2; x < 8; x++)
        li.pagination__item
            a(href='#')= x
    li.pagination__item
        a(href='#')
            i  &rarr;