.share
    ul.list--inline
        li: b.text--uppercase поделиться:
        li: a(href="#"): img(src="images/icons/soc-1.png")
        li: a(href="#"): img(src="images/icons/soc-2.png")
        li: a(href="#"): img(src="images/icons/soc-3.png")