aside.cell
    a(href="#").banner
        img(src="images/banner-1.jpg" alt="")
        b.text--info Демографический журнал
        p.text--default выпуск №3 #[br] 10 ноября 2016
    img(src="images/banner-2.jpg" alt="")
    .type
        blockquote.blockquote.text--center
            .blockquote-body
                p Нужно доказывать и показывать каждой нашей женщине: если она принимает решение рожать ребенка, то она одна с этим ребенком не останется.
            .blockquote-footer
                p.text--default Из выступления руководителя проекта «Аист на крыше»
                a.text--info(href="#"): b Анжелики Худолеевой