//
// Base -> Typography
// --------------------------------------------------


// Headings
h1, h2, h3, h4, h5, h6, .alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;


  small {
    font-weight: normal;
    line-height: 1;
  }
}

h1,
h2,
h3 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 65%;
  }
}
h4,
h5,
h6 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 75%;
  }
}

h1, .alpha   { font-size: $font-size-h1; }
h2, .beta    { font-size: $font-size-h2;
  color: $base-color-main; }
h3, .gamma   { font-size: $font-size-h3;
  text-transform: uppercase;
  color: $base-color-main;
}
h4, .delta   { font-size: $font-size-h4; }
h5, .epsilon { font-size: $font-size-h5; }
h6, .zeta    { font-size: $font-size-h6; }


// Body text
p { margin: 0 0 $line-height-computed-half; }

b {
  font-family: 'ralewaybold';
}

// Alignment
.text--left           { text-align: left; }
.text--right          { text-align: right; }
.text--center         { text-align: center; }
.text--justify        { text-align: justify; }
.text--nowrap         { white-space: nowrap; }


// Responsive alignment
@if $use-adaptive == true {
  @media (min-width: $screen-sm-min) {
    .text__sm--left   { text-align: left; }
    .text__sm--right  { text-align: right; }
    .text__sm--center { text-align: center; }
  }
  @media (min-width: $screen-md-min) {
    .text__md--left { text-align: left;}
    .text__md--right {text-align: right;}
    .text__md--center {text-align: center;}
  }

  @media (min-width: $screen-lg-min) {
    .text__lg--left { text-align: left;}
    .text__lg--right { text-align: right;}
    .text__lg--center { text-align: center;}
  }

  @media (min-width: $screen-xlg-min) {
    .text__xlg--left { text-align: left;}
    .text__xlg--right { text-align: right;}
    .text__xlg--center { text-align: center;}
  }
}


// Transformation
.text--lowercase      { text-transform: none; }
.text--uppercase      { text-transform: uppercase; }
.text--capitalize     { text-transform: capitalize; }


// Text size
.text__xs { font-size: $font-size-tiny; }
.text__sm { font-size: $font-size-small; }
.text__md { font-size: $font-size-medium; }
.text__lg { font-size: $font-size-large; }


@if $use-color-text == true {
  // Color text
  @include text-emphasis-variant('.text--primary', $base-color-main);
  @include text-emphasis-variant('.text--success', $color-type-4a);
  @include text-emphasis-variant('.text--info', $color-type-1a);
  @include text-emphasis-variant('.text--warning', $color-type-3a);
  @include text-emphasis-variant('.text--danger', $color-type-2a);
  @include text-emphasis-variant('.text--default', #808b90);
}


// Lists
ul,
ol {
  margin-top: 0;
  margin-bottom: $line-height-computed-half;
  ul,
  ol {
    margin-bottom: 0;
  }
}

.list {
  &--unstyled {
    @include list--unstyled;
  }

  &--inline {
    @include list--unstyled;
    margin-left: -5px;
    > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &--bullet {
    @include list--unstyled;
    margin-left: 11px;
    color: #808b90;
    > li {
      margin-bottom: $line-height-computed / 2.6;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '';
        background: url("../images/line.png");
        //color: #04be5b;
        //font-size: 20px;
        width: 15px;
        height: 3px;
        display: inline-block;
        margin-right: 11px;
        position: relative;
        top: -5px;
      }
    }
  }

  &--number {
    counter-reset: items;
    padding-left: 0;
    margin-left: 11px;
    > li {
      margin-bottom: $line-height-computed / 2.6;
      &::before {
        counter-increment: items 1;
        content: counter(items, decimal) ".";
        margin-right: 5px;
        font-weight: 400;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}



// Blockquotes
.blockquote {
  //margin-bottom: $line-height-computed * 2 0;
  //line-height: 1.8;
  position: relative;
  &:before {
    content: ',,';
    font-size: 60px;
    display: inline-block;
    color: #007e85;
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;
    margin:auto;
    line-height: 0;
    font-family: 'ralewayextrabold';
  }
  &-body {
    //font-size: $blockquote-font-size;
    font-style: italic;
    line-height: 1.8;
    padding: $line-height-computed * 1.7 $line-height-computed $line-height-computed;
    p {color: $base-color-main}
  }
  &-footer {
    position: relative;
    padding: $line-height-computed 0;
    &::before {
      content: '';
      width: 59px;
      height: 3px;
      background-color: #152f3a;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin:auto;
    }
    b {
      font-family: 'latobold';
    }
    p {
      font-family: 'latoregular';
    }
  }
  p,
  ul,
  ol {

    &:last-child {
      margin-bottom: 0;
    }
  }
}