//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  color: rgba(255,255,255,0.4);
  background-color: #004658;
  &__top {
    padding: 40px 0 20px;
  }
  &__bottom {
    border-top: 1px solid rgba(255,255,255,0.1);
    padding: 30px 0;
  }
  a {
    color: #b7e2df;
    font-family: 'latoregular';
  }
  b {
    color: rgba(255,255,255,0.9);
    font-family: 'latoheavy';
  }
  li {
    padding: 5px 0;
  }
  .copyright {
    font-size: 14px;
    color: rgba(255,255,255,0.4);
    font-family: 'ralewayregular';
  }
}