//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
  background-color: #ffffff;
  font-size: 13px;
  &__bottom {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    img {
      vertical-align: middle;
    }
  }
  &__middle {
    padding: 30px 0;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__logo {
    //float: left;

    font-family: 'ralewaysemibold';
    a {font-size: 15px;color: #636362;}
    img {
      vertical-align: middle;
      float: left;
    }
    span {
      vertical-align: middle;
      margin-left: 26px;
      display: inline-block;
    }
  }
  &__rate {
    //font-weight: 900;
    text-transform: uppercase;
    font-family: 'ralewayblack';
    a { color: $color-type-3a;}
  }
  &__in {
    //font-weight: 900;
    text-transform: uppercase;
    font-family: 'ralewayblack';
    a { color: $color-type-1a;}
    img {
      vertical-align: middle;
    }
    li { vertical-align: middle;}
  }
}

.relative {
  position: relative;
}

.search {
  &--body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    .form-control {
      border: none;
    }
    .btn {
      background: #fff;
    }
    a {
      padding: 10px 20px;
    }
  }
}
.shadow {
  overflow: hidden;
  .shadow-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(21, 47, 58, 0.7);
  }
}

//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }