//
// Partials -> Main
// ------------------------------------


//
// Main container
//
.page-main {
  padding-top: 20px;
  padding-bottom: 20px;
}

header, main, footer {
  min-width: $container-large-desktop;
}

aside {
  width: 270px;
}
section {
  width: 1010px;
}

//tempaltes
.text-template {
  padding: 20px 0;
}
.main-template {
  padding: 35px;
  background: $white-lighten;
  h3 { margin-top: 0;}
}
//tempaltes


.application {
  color: #808b90;
  @extend .main-template;
  h3, img {
    margin-bottom: 30px;
  }
  h2 { margin-top: 0;}
  hr {background-color: #000}
  a {
    color: $color-type-1a;
  }
  &-page {
    .blockquote-body {
      padding-bottom: 0;
    }
    h3 {
      margin: 30px 0;
      text-transform: none;
      font-family: $base-font-family-serif;
      font-weight: 700;
    }
    img { margin-bottom: 0;}
  }
}

.contacts {
  @extend .main-template;
  border-bottom: 3px solid #f6f6f6;
  padding-bottom: 120px;
  h3 {
    margin: 50px 0 30px;
  }
  h2 {
    text-transform: uppercase;
  }
  a {
    color: $color-type-1a;
    font-family: 'latobold';
  }
}

.issue {
  @extend .main-template;
  border-bottom: 3px solid #f6f6f6;
  background: url("../images/issue-back.png") no-repeat center top 100px, #fff;
  h3 {
    text-transform: none;
    margin-bottom: 0;
  }
  h2 {
    margin-top: 150px;
  }
  hr {
    background-color: #000;
  }
  &__item {
    padding: 25px 0 15px;
    a {
      color: $color-type-1a;
    }
    & + & {
      border-top: 3px solid #f6f6f6;
    }
  }
}

.opinion {
  border-top: 3px solid #f6f6f6;
  border-bottom: 3px solid #f6f6f6;
  @extend .main-template;
  &-list {
    p, span {font-family: 'latoregular';}
    &__item {
      margin-bottom: 30px;
    }
  }
  h2 {
    margin-top: 0;
    font-size: 23px;
    //font-family: 'latobold';
  }
  &-title {
    @extend .main-template;
    border-bottom: 3px solid #f6f6f6;
    display: flex;
    align-items: baseline;
    h2 {margin: 0;}
    ul {
      margin: 0 50px;}
    a {
      font-weight:700;
      color: $color-type-3a;
      &.active {
        color: #000;
        text-decoration: underline;
      }
    }
  }

  &-detail {
    height: 424px;
    display: flex;
    flex-direction: column;
    background: url("../images/opinion-img.jpg") no-repeat top center / cover;
    .inner {
      align-self: baseline;
      margin-top: auto;

    }
  }
  &-info {
    @extend .main-template;
    //display: flex;
    a {display: block;}
    &__item {
      &:not(:last-child) {margin-bottom: 40px;}
      p {color: #808b90;}
    }
    &-detail {
      p {
        font-family: 'latoregular';
      }
    }
  }
  .blockquote-footer {
    padding: 15px 0;
    &::before {
      right:auto;
    }
  }
  &-main + &-main {
    margin-top: 30px;
  }
  &-let {
    background-color: #f5f5f5;
    color: #000000;
    padding: 4px 15px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
  }
  &__item {
    margin-bottom: 40px;
  }
  &-border {
    border-left: 2px solid #ececec;
    border-right: 2px solid #ececec;
  }
}

.paginator {
  background-color: #fff;
  border-top: 1.5px solid #f6f6f6;
}

.tags-txt {
  color: #fff;
  background-color: #a0b9e1;
  padding: 0 5px;
  font-family: 'ralewaybold';
  font-size: 13px;
  display: inline-block;
}

.share {
  padding: 29px;
  text-align: center;
  border-top: 3px solid #f6f6f6;
  background: url("../images/social-img-2.png") no-repeat bottom left, url("../images/social-img-1.png") no-repeat bottom right, #fff;
  li, img {
    vertical-align: middle;
  }
  ul { margin: 0;}
}

.page {
  &-404, &-500 {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 130px 0;
    &__item {
      margin: 17px;
    }
    h1 {
      font-size: 118px;
      line-height: 0.6;
    }
    h2 {
      color: #244858;
      font-family: 'latoregular';
    }
  }
  &-500 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 170px;
    padding: 0;
  }
}

hr {
  margin-left:0;
  border: none;
  width: 61px;
  height: 2px;
  background-color: #ffffff;
}

.article {
  padding: 30px;
  color: #fff;
  background: url("../images/img-article.jpg") no-repeat top center / cover;
  h3 {
    margin-top: 0;
    color: #fff;
  }
  a {color: #fff}
  h1 {
    margin-top: 13px;
    max-width: 70%;
  }
  &--main {
    padding: 60px;
    h1 {
      max-width: 55%;
    }
  }
  &--title {
    padding: 33px 40px;
    background-color: #fff;
    h2 {
      margin: 0;}
  }

  &-items {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #fff;
    flex-wrap: wrap;
    &__item {
      width: 33.333333%;
      display: flex;
      flex-direction: column;
      border: 1.5px solid #f6f6f6;
      .inner {
        padding: 30px;
      }
      &--half {
        width: 66.666666%;
      }
      &--back {
        h2, p, a {color: #fff}
        h2 {text-shadow: 0 0 3px rgba(0, 0, 0, 0.61);}
        .inner {
          align-self: center;
          margin-top: auto;
        }
      }
      &--noimg {
        .inner {
          align-self: center;
          margin: auto;
        }
      }
      h2 {
        margin-top: 10px;
        margin-bottom: 17px;
      }
      b { display: block;}
      .img {
        vertical-align: middle;
      }
      .title {

      }
    }
  }

  &-detail {
    height: 424px;
    display: flex;
    flex-direction: column;
    background: url("../images/article-img-10.jpg") no-repeat top center / cover;
    h1 {
      max-width: inherit;
    }
    .inner {
      align-self: baseline;
      margin-top: auto;
    }
    &--magaz {
      background: url("../images/article-magaz.jpg") no-repeat top center / cover;
    }
    &--practice {
      background: url("../images/article-practice.jpg") no-repeat top center / cover;
    }
  }
  &-info {
    @extend .main-template;
    display: flex;
    .blockquote-body {
      padding: 40.8px 0 24px;
    }
    b.text__lg {font-family: 'latobold';}
    hr {
      background-color: #152f3a;
      margin:auto;
    }
    a {display: block;}
    &__links {
      margin-top: 160px;
      padding-right: 30px;
      .item {
        margin-bottom: 10px;
      }
    }
    &__item {
      > p {
        color: #808b90;
        &.text--primary {
          color: $base-color-main;
        }
      }
      .text--default {
        font-family: 'latoregular';
      }
    }
  }
}

.search {
  font-family: 'latoregular';
  height: 100%;
  &--control {
    margin-bottom: 25px;
    position: relative;
    button {
      position: absolute;
      top: 3px;
      right: 3px;
      height: 49px;
      background: #fff;
      min-width: inherit;
    }
    .form-control {
      padding-right: 60px;
    }
    img { vertical-align: text-bottom;}
  }
  &--main {
    @extend .main-template;
    min-height: calc(100% - 71px);
    &__item {
      margin-top: 30px;
    }
  }
  .pagination {
    background-color: #fff;
    border-top: 3px solid #f6f6f6;
  }
}

.sitemap {
  @extend .main-template;
  font-family: 'latoregular';
  min-height: calc(100% - 41px);
  a { color: $color-type-1a;}
  h2 { margin-top: 0;}
  li {
    margin: 5px 0;
  }
  ul + ul {
    margin-top: 40px;
  }
  .parent {
    margin-bottom: 10px;
    &:after {
      content: '';
      background: url("../images/arr-d.png") center center no-repeat;
      width: 10px;
      height: 7px;
      display: inline-block;
      margin-left: 9px;
    }
  }
}

.poll {
  min-height: calc(100% - 137px);
  background-color: #fff;
  li {vertical-align: middle;}
  &-title {
    @extend .main-template;
    border-bottom: 3px solid #f6f6f6;
    background: url("../images/poll-img.png") no-repeat right bottom, #fff;
    font-family: 'latoregular';
    h1 {
      margin: 0;
    }
  }
  &-results {
    font-family: 'latoregular';
    color: #152f3a;
  }
  &__result {
    background-color: #f3a971;
    padding: 10px 20px;
    margin-bottom: 6px;
  }
  &-body {
    @extend .main-template;
    font-family: 'latoregular';
    hr {
      background-color: #152f3a;
      margin-bottom: 20px;
    }
    &__item {
      margin-bottom: 25px;
      h5 {margin-top: 12px;}
    }
    &__num {
      font-size: 24px;
      color: #000000;
      background-color: #f5f5f5;
      font-family: 'latoheavy';
      display: inline-block;
      padding: 4px 16px;
      sup {
        color: #a4acaf;
        font-size: 14px;
        vertical-align: text-top;
      }
    }
  }
  &-footer {
    @extend .main-template;
    font-family: 'latoregular';
    border-top: 3px solid #f6f6f6;
    h2 {
      margin-top: 0;
    }
    p {
      color: #808b90;
      font-size: 18px;
    }
  }
  &-items {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #fff;
    flex-wrap: wrap;
    &__item {
      width: 33.333333%;
      display: flex;
      flex-direction: column;
      border: 1.5px solid #f6f6f6;
      padding: 30px;
      min-height: 340px;
      &--s {
        background-color: #dbf5f4;
      }
      &--d {
        background-color: #ffe4d1;
      }
      > div {
        display: flex;
        flex-direction: column;
      }
      .num {
        text-align: right;
      }
      .img {
        margin-bottom: 18px;
      }
      .title {
        margin-bottom: 22px;
        max-width: 75%;
      }
      .link {
        text-align: right;
        margin-top:auto;
      }
    }
  }
}

.edit {
  @extend .main-template;
  border-bottom: 3px solid #f6f6f6;
  &__item {
    margin-bottom: 20px;
    display: block;
  }
  h2 { margin-top: 0;
    margin-bottom: 30px;}
  p { color: #808b90;}
  &-words {
    @extend .main-template;
    h2 { margin-top: 0;
      margin-bottom: 30px;}
    p { font-style: italic;  color: #808b90;}
    hr {
      background-color: #000;
    }
  }
}

.blogs {
  @extend .main-template;
  border-top: 3px solid #f6f6f6;
  h2 {
    margin-top: 0;}
  &-main {
    display: flex;
    align-content: flex-end;
    flex-direction: column-reverse;
    color: #fff;
    height: 100%;
    padding: 30px;
    background: url("../images/img-blogs.jpg") no-repeat center center / cover;
    h2, .media, a {
      margin-top: 0;
      color: #fff;
    }
  }
  &__item {
    padding-bottom: 30px;
    & + & {
      padding-top: 11px;
      border-top: 2px solid #ececec;
    }
  }
}

.comments {
  @extend .main-template;
  border-top: 3px solid #f6f6f6;
  h3 {
    margin-bottom: 30px;
  }
}

.test {
  @extend .main-template;
  //margin-bottom: 20px;
  display: flex;
  padding: 0;
  font-family: 'latoregular';
  border-top: 3px solid #f6f6f6;
  + .article--title {
    border-top: 3px solid #f6f6f6;
  }
  h3 {
    text-transform: none;
  }
  &__item {
    width: 50%;
    padding: 30px;
    //height: 100%;
    min-height: 271px;
    &--1 {
      border-right: 3px solid #f6f6f6;
      background: url("../images/img-test-1.png") no-repeat bottom right;
    }
    &--2 {
      background: url("../images/img-test-2.png") no-repeat bottom right;
      .radio input[type="radio"]:checked + label {
        color: $color-type-3a;
        &:after {
          background: url('../images/icons/icoRadio-w.png') center center no-repeat, $input-bg;
        }
      }
    }
    &--next {
      display: none;
      margin-top: 10px;
    }
  }
}

.banner {
  display: block;
  background-color: #ffffff;
  padding: 18px;
  margin-bottom: 20px;
  text-align: center;
}
.type {
  background-color: #ffffff;
  margin-top: 20px;
  padding: 20px 0;
  .blockquote-footer {
    padding: 24px;
  }
}

.tabs {
  &__caption {
    margin-top: 22px;
    margin-bottom: 0;
    display: flex;
    @extend .around__xs;
    font-size: 18px;
    font-family: 'latobold';
    color: #fff;
    li {
      width: 33.33333%;
      cursor: pointer;
    }
    li + li {
      position: relative;
      &::before {
        content: '';
        height: 47px;
        width: 2px;
        position: absolute;
        top: 8px;
        left: -7%;
        background: #fff;
      }
    }
    .active {
      color: rgba(255,255,255,0.3);
    }
  }
  &__content {
    display: none;
    &.active {
      display: block;
    }
  }
}