//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    background-color: $breadcrumb-bg;
    font-family: 'latobold';
    font-size: 13px;

    > li {
      display: inline-block;

      a {color: $breadcrumb-color}

    + li {
      &:before {
        content: " > ";
        padding: 0 5px;
        color: $breadcrumb-color;
      }
    }

      &.active {
        color: $breadcrumb-active-color;
      }
    }
  }
}