//
// Modules -> Media
// --------------------------------------------------
@if $use-media == true {
  .media {
    display: flex;
    @extend .top__xs;
    //margin: 20px 0;
    color: #808b90;
    & + & {
      margin-top: 30px;
    }
    &-sub {
      background-color: #f8f8f8;
      padding: 30px;
      .media {
        margin-top: 20px;
      }
    }
    &__body {
      overflow: hidden;
      //font-size: 15px;
      margin-top: 15px;
      p {
        margin: 0;
        font-family: 'latoregular';
      }
    }
    &__img {
      //float: left;

      text-align: center;
      padding: 4px;
      margin-right: 10px;
      display: inline-block;
      background: url("../images/imgAva-border.png") no-repeat center center;
      &--rev {
        //float: right;
        margin-left: 10px;
      }
      a {
        display: block;
        width: 60px;
      }
    }
    &__title {
      font-size: 17px;
    }
  }

  .media__img img,
  .media__img--rev img {
    vertical-align: middle;
  }

  .media__body,
  .media__body > :last-child {
    margin-bottom: 0;
  }
}