//
// Modules -> Navs
// --------------------------------------------------

.nav {
  ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    @include clearfix;
  }
  li {
    position: relative;
    display: inline-block;

    padding: $nav-link-padding;
    a {
      position: relative;
      text-transform: uppercase;
      color: $base-color-main;
      display: block;
      font-family: 'ralewayextrabold';
      text-decoration: none;
      background-color: transparent;
    }
    &:hover a,
    &:focus a {
      //background-color: $nav-link-hover-bg;
      text-decoration: underline;
    }
  }
  li > a > img {
    max-width: none;
  }

  &__justified {
    width: 100%;

    li {
      float: none;
      vertical-align: middle;
      padding: 17px 0;
    }
    li {
      display: table-cell;
      width: 1%;
      > a {
        margin-bottom: 0;
      }
    }
  }

  &__fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-width: 0 0 1px;
    z-index: $zindex-navbar-fixed;
  }
}

.sub-nav {
  li {
    display: block;
    a {padding-left: 30px;}
    a:hover {
      background: $subnav-link-hover-bg;
    }
  }
  @media (min-width: $screen-adaptive-nav) {
    display: none;
    position: absolute;
    background: $gray-darken;
    top: 100%;
    right: 0;
    min-width: 200px;
    li:hover & {
      display: block;
    }
    a {padding-left: 15px;}
  }
}

.main-nav {
  &__toggle {
    display: none;
  }
  &__collapse {
    display: block;
    width: auto;
  }
}

.navbar {
  position: relative;
  @include clearfix();
  @media (min-width: $screen-adaptive-nav) {
    &__left {
      float: left;
    }
    &__right {
      float: right;
    }
  }
}