//
// Modules -> Pagination (multiple pages)
// --------------------------------------------------

@if $use-pagination == true {
  .pagination {
    display: block;
    padding: 6px 0;
    margin: 0;
    text-align: center;
    font-family: 'latoheavy';

    &__item {
      display: inline-block;
      text-transform: uppercase;
      margin-left: -5px;
      padding: 13px;
      a,
      span {
        position: relative;
        font-size: 15px;
        float: left;
        line-height: $base-line-height;
        text-decoration: none;
        color: $pagination-color;
      }
      &:first-child {
        a,
        span {
          margin-left: 0;
        }
      }
      &:last-child {
        a,
        span {
        }
      }
    }

    &__item a,
    &__item span {
      &:hover,
      &:focus {
        z-index: 3;
        color: $pagination-hover-color;
      }
    }

    &__item.active a,
    &__item.active span {
      &,
      &:hover,
      &:focus {
        z-index: 2;
        color: $pagination-active-color;
        cursor: default;
      }
    }
  }
}
