//
// Modules -> Utility classes
// --------------------------------------------------

//
// close btn
//
.close {
  float: right;
  font-size: ($base-font-size * 1.1764);
  font-weight: $close-font-weight;
  line-height: 1;
  color: $close-color;
  text-shadow: $close-text-shadow;
  @include opacity(1);

  &:hover,
  &:focus {
    color: $close-color;
    text-decoration: none;
    cursor: pointer;
    @include opacity(.5);
  }
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}


.center-block {
  @include center-block;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

@if $use-adaptive == true {
  @media (min-width: $screen-sm-min) {
    .pull__sm-left   { float: left; }
    .pull__sm-right  { float: right; }
  }
  @media (min-width: $screen-md-min) {
    .pull__md-left   { float: left; }
    .pull__md-right  { float: right; }
  }
  @media (min-width: $screen-lg-min) {
    .pull__lg-left   { float: left; }
    .pull__lg-right  { float: right; }
  }
  @media (min-width: $screen-xlg-min) {
    .pull__lg-left   { float: left; }
    .pull__lg-right  { float: right; }
  }
}

.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}