footer.page-footer
	.container
		.page-footer__top
			.row
				.cell.cell__xs-2
					ul.list--unstyled
						li: a(href="#"): b О проекте
						li: a(href="#") Команда проекта
						li: a(href="#") Мы любим жизнь!
						li: a(href="#") Дорожная карта
						li: a(href="#") Общественая организация
						li: a(href="#") Авторы
						li: a(href="#") Контакты
				.cell.cell__xs-2
					ul.list--unstyled
						li: a(href="#"): b Статьи
						li: a(href="#"): b Мнения экспертов
						li: a(href="#"): b Блог проекта
				.cell.cell__xs-2
					ul.list--unstyled
						li: a(href="#"): b Практика
						li: a(href="#") Личный опыт
						li: a(href="#") Дошкольная жизнь
						li: a(href="#") Советы юриста
						li: a(href="#") Советы родителям
						li: a(href="#") За рубежом
				.cell.cell__xs-2
					ul.list--unstyled
						li: a(href="#"): b Опросы и тесты
						li: a(href="#") Опросы
						li: a(href="#") Тесты
				.cell.cell__xs-2
					ul.list--unstyled
						li: a(href="#"): b Рейтинг врачей и мед.учреждений
						li: a(href="#") Рейтинг клиник
						li: a(href="#") Рейтинг врачей
						li: a(href="#") Все отзывы
						li: a(href="#") Оставить отзыв
				.cell.cell__xs-2
					ul.list--unstyled
						li: a(href="#") Карта сайта
						li: a(href="#") Подписка на новости
					ul.list--unstyled
						li: b Соцсети
						li
							ul.list--inline
								li: a(href="#"): img(src="images/icons/soc-1.png")
								li: a(href="#"): img(src="images/icons/soc-2.png")
								li: a(href="#"): img(src="images/icons/soc-3.png")
		.page-footer__bottom
			.row.between__xs.middle__xs
				.cell.copyright
					span Перепечатка материалов без согласия авторов запрещена #[br] Общественный проект «Аист на крыше» 2016 ©  Все права защищены. #[br] Фонд гражданских проектов «Социумъ»
				.cell.text--right
					a(href="http://www.trinet.ru", target="_blank"): img(src="images/icons/logo-trinet.png")


