header.page-header
    .container
        .page-header__top
            a(href="#"): img(src="images/banner.jpg", alt="")
        .page-header__middle.row.middle__xs.between__xs
            .page-header__logo.cell
                a(href="/")
                    img(src="images/logo.png", alt="Company ltd.")
                    span Социальный портал по вопросам демографии #[br] и демографической политики РФ.
            .page-header__rate.cell
                ul.list--inline
                    li
                        img(src="images/ico-rate.png", alt="Company ltd.")
                    li
                        a(href="#") Рейтинг врачей #[br] и женских консультаций
            .page-header__in.cell
                ul.list--inline
                    li: img(src="images/ico-in.png", alt="Company ltd.")
                    li: a(href="#") Войти
                    li |
                    li: a(href="#") регистрация
    .page-header__bottom
        .container
            .row.middle__xs.beetwen__xs.relative
                .cell.cell__xs-9
                    include ../components/_navbar
                .cell.cell__xs-3.text--right
                    .hide.search--body
                        form.input__group
                            input.form-control(type="search", placeholder="Что вы ищете?")
                            .input__group--btn
                                button.btn(type="submit"): img(src="images/ico-close.png", alt="")
                            .input__group--btn
                                a.close--js(href="#"): img(src="images/ico-close-1.png", alt="")
                    a.search--js(href="#"): img(src="images/ico-close.png", alt="")