main.page-main
    .container
        .page-404
            .page-404__item
                h1.text--warning 404
            .page-404__item
                h2 Неверный адрес страницы #[br] или такой страницы не существует
                h6.text__xs: a.text--warning.text--uppercase(href="#") на главную #[img(src="images/arr.png", alt="")]
