main.page-main
    .page-500
        .page-500__item
            h1.text--warning 500
        .page-500__item
            h2 Что-то пошло не так
            h6.text__xs: a.text--warning.text--uppercase(href="#") на главную #[img(src="images/arr.png", alt="")]
