main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .article.article-detail.article-detail--magaz
                    .inner
                        p.text__lg Выпуск № 1
                        h1 Кто несет ответственность...
                .article-info
                    .article-info__item.cell__xs-3
                        .margbot40
                            b.text__lg.text--primary 14 декабря 2016
                        h3.text--uppercase Автор статьи
                        .media__img: img(src="images/imgAva-1.png" alt="")
                        a(href="#")
                            b.text--info Анжелика Худолеева
                            p.text--default руководитель проекта #[br] "Аист на крыше"
                    .article-info__item.cell__xs-6
                        h5 Расскажите, пожалуйста, чем занимается Ваш институт?
                        p Федеральное государственное бюджетное учреждение «Научный центр акушерства, гинекологии и перинатологии имени академика В. И. Кулакова» имеет многолетнюю богатейшую историю и по сей день является ведущим национальным научным, лечебным и образовательным учреждением в области акушерства, гинекологии и перинатологии, занимающимся проблемами женского и мужского репродуктивного здоровья, аккумулирующим самые современные научные достижения отечественной и зарубежной науки и координирующим работу региональных учреждений.
                        h5 Какие основные проблемы с репродуктивным здоровьем у женщин в России Вы можете назвать? Можно ли что-то улучшить в этой сфере?
                        p Безусловно, существует определенный спектр проблем. Состояние репродуктивного здоровья во многом определяет качество жизни и мужчин, и женщин, их физическое, социальное и психическое благополучие, возможность воспроизводства и развития здорового поколения. К сожалению, число женщин, имеющих те или иные репродуктивные проблемы, увеличивается. На это влияет множество факторов: позднее материнство, образ жизни, предшествующие прерывания беременности и пр., пагубные последствия которых в результате приводят к формированию целого ряда гинекологических заболеваний, бесплодию, невынашиванию беременности, осложнениям беременности и родов. Зачастую, уже будучи беременной, женщина впервые проходит комплексное медицинское обследование и попадает в поле зрения врачей-специалистов — акушеров-гинекологов, офтальмологов, отоларингологов, терапевтов. В этот период как раз и выявляется большинство существовавших ранее проблем со здоровьем, влияние которых будет ощущаться в течение всей беременности, родов и послеродового периода. Поэтому, конечно, репродуктивным здоровьем надо заниматься до этапа, когда женщина принимает решение забеременеть.
                        p: a.text__xs.text--info.text--uppercase(href="#"): b предыдущий #[img(src="images/arr-b.png", alt="")]
                        p: a.text__xs.text--info.text--uppercase(href="#"): b все выпуски журнала #[img(src="images/arr-b.png", alt="")]
                        p: a.text__xs.text--info.text--uppercase(href="#"): b следующий #[img(src="images/arr-b.png", alt="")]
                include ../components/_share
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

