main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .article--title
                    h2.text--uppercase личный опыт
                .article.article--main
                    .tags-txt Здоровье
                    h1 Найти помещение – это самое сложное и болезненное
                    hr
                    .cell__xs-6
                        p На этот раз мы решили узнать у владелицы частного детского сада из Калуги Ольги Новиковой, как она решилась на этот смелый поступок и с какими трудностями столкнулась.
                .article-items
                    .article-items__item
                        img.img(src="images/article-img-1.jpg", alt="")
                        .inner
                            .tags-txt Россия
                            h2.title: a(href="#") Найти помещение – это самое сложное и
                            p
                                a.text--info(href="#"): b Анжелика Худолеева
                                span.text--default руководитель проекта #[br] «Аист на крыше»
                    .article-items__item.article-items__item--back(style="background: url('images/article-img-2.jpg') no-repeat center center / cover")
                        .inner
                            .tags-txt Россия
                            h2.title: a(href="#") Откровенно говоря, спортивным занятием это назвать язык не поворачивается
                            p
                                a(href="#"): b Анжелика Худолеева
                                span руководитель проекта
                    .article-items__item
                        img.img(src="images/article-img-3.jpg", alt="")
                        .inner
                            .tags-txt Здоровье
                            h2.title: a(href="#") Классы для будущих родителей. Опыт
                            p
                                a.text--info(href="#"): b Анжелика Худолеева
                                span.text--default руководитель проекта
                    .article-items__item
                        img.img(src="images/article-img-4.jpg", alt="")
                        .inner
                            .tags-txt Статистика
                            h2.title: a(href="#") Найти помещение – это самое сложное и
                            p
                                a.text--info(href="#"): b Анжелика Худолеева
                                span.text--default руководитель проекта
                    .article-items__item
                        img.img(src="images/article-img-5.jpg", alt="")
                        .inner
                            .tags-txt Рождаемость
                            h2.title: a(href="#") Классы для будущих родителей. Опыт
                            p
                                a.text--info(href="#"): b Анжелика Худолеева
                                span.text--default руководитель проекта
                    .article-items__item.article-items__item--noimg
                        .inner
                            .tags-txt Демография
                            h2.title: a(href="#") Откровенно говоря, спортивным занятием это назвать язык не поворачивается
                            p
                                a.text--info(href="#"): b Анжелика Худолеева
                                span.text--default руководитель проекта
                    .article-items__item
                        img.img(src="images/article-img-3.jpg", alt="")
                        .inner
                            .tags-txt Россия
                            h2.title: a(href="#") Откровенно говоря, спортивным занятием это назвать язык не поворачивается
                    .article-items__item.article-items__item--half.article-items__item--back(style="background: url('images/article-img-9.jpg') no-repeat center center / cover")
                        .inner
                            .cell__xs-9
                                .tags-txt Демография
                                h2.title: a(href="#") Классы для будущих родителей. Опыт Бельгии
                                hr
                                p На этот раз мы решили узнать у владелицы частного детского сада из Калуги Ольги Новиковой, как она решилась на этот смелый поступок и с какими трудностями столкнулась.
                    .article-items__item
                        img.img(src="images/article-img-7.jpg", alt="")
                        .inner
                            .tags-txt Здоровье
                            h2.title: a(href="#") Найти помещение – это самое сложное и
                            p
                                a.text--info(href="#"): b Анжелика Худолеева
                                span.text--default руководитель проекта
                    .article-items__item.article-items__item--noimg
                        .inner
                            .tags-txt Власть
                            h2.title: a(href="#") Откровенно говоря, спортивным занятием это назвать язык не поворачивается
                            p
                                a.text--info(href="#"): b Анжелика Худолеева
                                span.text--default руководитель проекта
                    .article-items__item
                        img.img(src="images/article-img-8.jpg", alt="")
                        .inner
                            .tags-txt Здоровье
                            h2.title: a(href="#") Классы для будущих родителей. Опыт
                            p
                                a.text--info(href="#"): b Анжелика Худолеева
                                span.text--default руководитель проекта
                .paginator
                    include ../components/_paginator
                .share
                    ul.list--inline
                        li: b.text--uppercase поделиться:
                        li: a(href="#"): img(src="images/icons/soc-1.png")
                        li: a(href="#"): img(src="images/icons/soc-2.png")
                        li: a(href="#"): img(src="images/icons/soc-3.png")
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

