main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .application
                    .row
                        .cell.cell__xs-3
                            img(src="images/author.jpg", alt="")
                        .cell.cell__xs-9
                            .row.end__xs
                                .cell.cell__xs-8
                                    blockquote.blockquote.text--center
                                        .blockquote-body.text--left
                                            p Нужно доказывать и показывать каждой нашей женщине: если она принимает решение рожать ребенка, то она одна с этим ребенком не останется.
                            .cell__xs-9
                                .margbot30
                                    h2 Анжелика #[br] Худолеева
                                    hr
                                    p.text--default руководитель проекта “Аист на крыше”
                                p Выдающийся демограф России, имеющий почти тридцатилетний преподавательский и исследовательский стаж.  В нем органично сочетается безграничное научное любопытство, которым он заражает  всех учеников и коллег, открытость новому, аналитические и креативные способности наивысшего уровня. Это не просто преподаватель, читающий академические курсы, это человек, преподающий, прежде всего, своим примером.
                                p За свою научную карьеру К.В. Антонов опубликовал более 150 научных работ, выступил в качестве участника, руководителя, эксперта в нескольких десятках российских и международных проектов, вырастил не одно поколение демографов.
                                p Преподавательская и исследовательская деятельность на протяжении всей жизни у К.В. Антонова  тесно переплетены и удивительным образом дополняют друг друга. Благодаря своему практическому опыту Кирилл Валерьевич преподносит, казалось бы, сухой теоретический материал безумно живо и интересно, с огромным количеством примеров и кейсов из реальной жизни. Это очень либеральный и современный преподаватель, на лекциях у которого, однако, студенты всегда ведут себя дисциплинированно. Это является результатом того, что Кирилл Валерьевич формирует отношения со студентами на основе взаимоуважения: всегда дает слово ученикам, слушает и прислушивается к их мнениям, умеет тонко и точно направить, чем вызывает безграничное доверие и любовь.
                .blogs
                    h3 Новое в блоге
                    .row
                        .cell.cell__xs-7
                            .blogs-main
                                .inner
                                    .media
                                        .media__img: a(href="#"): img(src="images/imgAva.png" alt="")
                                        .media__body
                                            a(href="#")
                                                b Татьяна Зеленина
                                                p журналист
                                    h2: a(href="#") Про женское репродуктивное здоровье и возраст
                                    p 15 мин назад
                        .cell.cell__xs-5
                            .blogs__item
                                .media
                                    .media__img: a(href="#"): img(src="images/imgAva-1.png" alt="")
                                    .media__body
                                        a(href="#")
                                            b.text--info Анжелика Худолеева
                                            p руководитель проекта #[br] "Аист на крыше"
                                        a(href="#"): b.text__lg.text--primary Лишенные чуда
                                        p 1 день назад
                            .blogs__item
                                .media
                                    .media__img: a(href="#"): img(src="images/imgAva.png" alt="")
                                    .media__body
                                        a(href="#")
                                            b.text--info Татьяна Зеленина
                                            p журналист
                                        a(href="#"): b.text__lg.text--primary Про baby-box
                                        p 3 декабря 2016
                                        .margtop30
                                            a.text__xs.text--info.text--uppercase(href="#"): b Другие посты блога #[img(src="images/arr-b.png", alt="")]
                .opinion
                    h3 мнения автора
                    .row
                        .cell.cell__xs-4
                            h3.text--lowercase: a(href="#") Нужна&nbsp;ли&nbsp;бесплатная школа контрацепции в России?
                        .cell.cell__xs-4.opinion-border
                            h3.text--lowercase: a(href="#") Учить или нет? В какой степени садик должен готовить детей к школе?
                        .cell.cell__xs-4
                            h3.text--lowercase: a(href="#") Есть ли мужчины в наших селеньях?
                            .margtop10
                                a.text__xs.text--warning.text--uppercase(href="#"): b другие мнения #[img(src="images/arr.png", alt="")]
                .article
                    .row
                        .cell.cell__xs-6
                            h3 Статьи
                        .cell.cell__xs-6.text--right
                            a.text__xs.text--uppercase(href="#"): b другие статьи  #[img(src="images/arr-w.png", alt="")]
                    .tabs
                        .tabs__content.active
                            h1 Найти помещение – это самое сложное и&nbsp;болезненное
                            hr
                            p На этот раз мы решили узнать у владелицы частного #[br] детского сада из Калуги Ольги Новиковой, как она #[br] решилась на этот смелый поступок и с какими #[br] трудностями столкнулась.
                        .tabs__content
                            h1 Классы для будущих родителей. Опыт Бельгии
                            hr
                            p На этот раз мы решили узнать у владелицы частного #[br] детского сада из Калуги Ольги Новиковой, как она #[br] решилась на этот смелый поступок и с какими #[br] трудностями столкнулась.
                        .tabs__content
                            h1 Откровенно говоря, спортивным занятием это назвать язык не поворачивается
                            hr
                            p На этот раз мы решили узнать у владелицы частного #[br] детского сада из Калуги Ольги Новиковой, как она #[br] решилась на этот смелый поступок и с какими #[br] трудностями столкнулась.
                        ul.tabs__caption
                            li.active Найти помещение – это самое сложное и болезненное
                            li Классы для будущих родителей. Опыт Бельгии
                            li Откровенно говоря, спортивным занятием это назвать язык не поворачивается
                include ../components/_share
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

