main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .opinion-title
                    h2 Авторы
                    ul.list--inline.text__lg
                        li: a.active(href="#") А
                        li: a(href="#") Б
                        li: a(href="#") В
                        li: a(href="#") К
                .opinion
                    .row.opinion-main
                        .cell.cell__xs-1
                            .opinion-let А
                        .cell.cell__xs-11
                            .row
                                .cell.cell__xs-6.opinion__item
                                    .row
                                        .cell.cell__xs-5
                                            img(src="images/img-opinion-1.png", alt="")
                                        .cell.cell__xs-7
                                            h2 Георгий Фридман
                                            .blockquote-footer
                                                p.text--default редактор журнала
                                .cell.cell__xs-6.opinion__item
                                    .row
                                        .cell.cell__xs-5
                                            img(src="images/img-opinion-2.png", alt="")
                                        .cell.cell__xs-7
                                            h2 Марина Глебова
                                            .blockquote-footer
                                                p.text--default доцент кафедры демографии НИУ ВШЭ
                                .cell.cell__xs-6.opinion__item
                                    .row
                                        .cell.cell__xs-5
                                            img(src="images/img-opinion-3.png", alt="")
                                        .cell.cell__xs-7
                                            h2 Анжелика Худолеева
                                            .blockquote-footer
                                                p.text--default руководитель проекта #[br] “Аист на крыше”
                                .cell.cell__xs-6.opinion__item
                                    .row
                                        .cell.cell__xs-5
                                            img(src="images/img-opinion-4.png", alt="")
                                        .cell.cell__xs-7
                                            h2 Татьяна Зеленина
                                            .blockquote-footer
                                                p.text--default журналист
                    .row.opinion-main
                        .cell.cell__xs-1
                            .opinion-let Б
                        .cell.cell__xs-11
                            .row
                                .cell.cell__xs-6.opinion__item
                                    .row
                                        .cell.cell__xs-5
                                            img(src="images/img-opinion-1.png", alt="")
                                        .cell.cell__xs-7
                                            h2 Георгий Фридман
                                            .blockquote-footer
                                                p.text--default редактор журнала
                                .cell.cell__xs-6.opinion__item
                                    .row
                                        .cell.cell__xs-5
                                            img(src="images/img-opinion-2.png", alt="")
                                        .cell.cell__xs-7
                                            h2 Марина Глебова
                                            .blockquote-footer
                                                p.text--default доцент кафедры демографии НИУ ВШЭ
                                .cell.cell__xs-6.opinion__item
                                    .row
                                        .cell.cell__xs-5
                                            img(src="images/img-opinion-3.png", alt="")
                                        .cell.cell__xs-7
                                            h2 Анжелика Худолеева
                                            .blockquote-footer
                                                p.text--default руководитель проекта #[br] “Аист на крыше”
                    .row.opinion-main
                        .cell.cell__xs-1
                            .opinion-let В
                        .cell.cell__xs-11
                            .row
                                .cell.cell__xs-6.opinion__item
                                    .row
                                        .cell.cell__xs-5
                                            img(src="images/img-opinion-1.png", alt="")
                                        .cell.cell__xs-7
                                            h2 Георгий Фридман
                                            .blockquote-footer
                                                p.text--default редактор журнала
                                .cell.cell__xs-6.opinion__item
                                    .row
                                        .cell.cell__xs-5
                                            img(src="images/img-opinion-2.png", alt="")
                                        .cell.cell__xs-7
                                            h2 Марина Глебова
                                            .blockquote-footer
                                                p.text--default доцент кафедры демографии НИУ ВШЭ
                    include ../components/_paginator
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

