main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .article.article-detail
                    .inner
                        b.text__lg Пост из Блога:
                        hr
                        h1 В 30-е годы советская дошкольная педагогика развивалась серьезными темпами
                        .tags-txt Здоровье
                        .tags-txt Советы врача
                .article-info
                    .article-info__item.cell__xs-3
                        .margbot40
                            b.text__lg.text--primary 14 декабря 2016
                        h3.text--uppercase Автор
                        .media__img: img(src="images/imgAva-1.png" alt="")
                        a(href="#")
                            b.text--info Анжелика Худолеева
                            p.text--default руководитель проекта #[br] "Аист на крыше"
                        .article-info__links
                            h3 статьи по теме:
                            hr
                            .item
                                a.text--primary(href="#"): b.text__lg Есть ли мужчины в наших селеньях?
                                a(href="#")
                                    b.text--info Анжелика Худолеева
                                    p.text--default руководитель проекта
                            .item
                                a.text--primary(href="#"): b.text__lg Дело рук иркутской фребелички
                                a(href="#")
                                    b.text--info Анжелика Худолеева
                                    p.text--default руководитель проекта
                    .article-info__item.cell__xs-6
                        p Первый детский сад в Иркутске открыла Мария Гавриловна Тюменцева. Российская империя нуждалась в расширении промышленного производства, стране требовались не просто грамотные люди, но инженеры и чиновники. Иркутск же в то время был оторван от метрополии, а значит, и от учебных заведений
                        p В 1868 году она предлагает открыть новое образовательное учреждение, готовившее детей младшего возраста к поступлению в первый класс гимназии, и предлагает использовать систему немецкого педагога Ф. Фрёбеля. Её идею поддерживает Ричард Карлович Маак – главный инспектор училищ Восточной Сибири, и по его просьбе генерал-губернатор М. С. Корсаков утверждает проект первого детского сада в Иркутске, рассматривая его как экспериментальный. С неутомимой энергией Мария Гавриловна собирает первые пожертвования от частных лиц в сумме 1 650 рублей. И «4 марта 1869 года открывается учебное заведение для детей младшего школьного возраста под названием «Детский сад». По прочтении утверждённого генерал-губернатором Восточной Сибири положения об этом заведении было отслужено молебствие с водоосвящением в присутствии председательствующего в совете Главного управления, директора училищ Иркутской губернии, начальницы сада г-жи Тюменцевой и её помощниц, поступивших в училище детей и их родителей. Записано желающих поступить в это заведение до 50 детей, поступило же в день открытия 20 детей».
                        p Первоначально для школы было выделено старое здание Главного управления.
                        p Иркутский золотопромышленник, известный меценат И. И. Базанов приобрёл в 1874 году деревянный дом с двумя флигелями, ранее принадлежавший Главному управлению Восточной Сибири. Большой иркутский пожар 1879 года уничтожил все постройки и имущество «Детского сада», кроме нескольких книг и настенного атласа. М. Г. Тюменцева и члены попечительского совета стали добиваться возобновления работы школы «Детский сад». В течение одного года «Детский сад» размещался в здании Института благородных девиц, выделившего ему комнату, затем удалось нанять частный дом. В 1882 году специально для «Детского сада», с учётом всех пожеланий, на Амурской улице по проекту Г. В. Розена построен настоящий деревянный сказочный терем. «14 октября произошло освящение здания. Постройка обошлась в 30 000 рублей, причём большая часть суммы поступила от старшего попечителя сада И. А. Сиверса».
                        blockquote.blockquote.text--center.margbot30.margtop30
                            .blockquote-body
                                p.text__lg 5 марта в школе начались занятия при 20 воспитанниках, в июне их уже было 39. В первые годы «Детский сад» содержался на пожертвования частных лиц. С 1873 года городские власти стали отпускать на его содержание ежегодно 1 500 рублей
                            hr
                        p Иркутский золотопромышленник, известный меценат И. И. Базанов приобрёл в 1874 году деревянный дом с двумя флигелями, ранее принадлежавший Главному управлению Восточной Сибири. Большой иркутский пожар 1879 года уничтожил все постройки и имущество «Детского сада», кроме нескольких книг и настенного атласа. М. Г. Тюменцева и члены попечительского совета стали добиваться возобновления работы школы «Детский сад». В течение одного года «Детский сад» размещался в здании Института благородных девиц, выделившего ему комнату, затем удалось нанять частный дом. В 1882 году специально для «Детского сада», с учётом всех пожеланий, на Амурской улице по проекту Г. В. Розена построен настоящий деревянный сказочный терем. «14 октября произошло освящение здания. Постройка обошлась в 30 000 рублей, причём большая часть суммы поступила от старшего попечителя сада И. А. Сиверса».
                        ul.list--inline.text__xs.text--uppercase.margtop30
                            li: a.text--warning(href="#"): b к другим постам #[img(src="images/arr.png", alt="")]
                            li: a.text--warning(href="#"): b комментировать
                include ../components/_comments
                include ../components/_share
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

