main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .blogs
                    h2.text--uppercase блог
                    h3 популярные посты
                    .row
                        .cell.cell__xs-7
                            .blogs-main
                                .inner
                                    .media
                                        .media__img: a(href="#"): img(src="images/imgAva.png" alt="")
                                        .media__body
                                            a(href="#")
                                                b Татьяна Зеленина
                                                p журналист
                                    h2: a(href="#") Про женское репродуктивное здоровье и возраст
                                    p 15 мин назад
                        .cell.cell__xs-5
                            .blogs__item
                                .media
                                    .media__img: a(href="#"): img(src="images/imgAva-1.png" alt="")
                                    .media__body
                                        a(href="#")
                                            b.text--info Анжелика Худолеева
                                            p руководитель проекта #[br] "Аист на крыше"
                                        a(href="#"): b.text__lg.text--primary Лишенные чуда
                                        p 1 день назад
                            .blogs__item
                                .media
                                    .media__img: a(href="#"): img(src="images/imgAva.png" alt="")
                                    .media__body
                                        a(href="#")
                                            b.text--info Татьяна Зеленина
                                            p журналист
                                        a(href="#"): b.text__lg.text--primary Про baby-box
                                        p 3 декабря 2016
                                        .margtop30
                                            a.text__xs.text--info.text--uppercase(href="#"): b Другие посты блога #[img(src="images/arr-b.png", alt="")]
                .blogs
                    h3.margbot40 Новые посты
                    .row
                        .cell.cell__xs-4
                            .blogs__item
                                .media
                                    .media__img: a(href="#"): img(src="images/imgAva-1.png" alt="")
                                    .media__body
                                        a(href="#")
                                            b.text--info Анжелика Худолеева
                                            p руководитель проекта #[br] "Аист на крыше"
                                        a(href="#"): b.text__lg.text--primary Лишенные чуда
                                        p 1 день назад
                        .cell.cell__xs-4
                            .blogs__item
                                .media
                                    .media__img: a(href="#"): img(src="images/imgAva-1.png" alt="")
                                    .media__body
                                        a(href="#")
                                            b.text--info Анжелика Худолеева
                                            p руководитель проекта #[br] "Аист на крыше"
                                        a(href="#"): b.text__lg.text--primary В 30-е годы советская дошкольная педагогика развивалась серьезными темпами
                                        p 1 день назад
                        .cell.cell__xs-4
                            .blogs__item
                                .media
                                    .media__img: a(href="#"): img(src="images/imgAva-1.png" alt="")
                                    .media__body
                                        a(href="#")
                                            b.text--info Анжелика Худолеева
                                            p руководитель проекта #[br] "Аист на крыше"
                                        a(href="#"): b.text__lg.text--primary Немецкое детство, деревянные игрушки
                                        p 1 день назад
                        .cell.cell__xs-4
                            .blogs__item
                                .media
                                    .media__img: a(href="#"): img(src="images/imgAva-2.png" alt="")
                                    .media__body
                                        a(href="#")
                                            b.text--info Татьяна Зеленина
                                            p журналист
                                        a(href="#"): b.text__lg.text--primary Снижение доходов населения является более острой проблемой, чем задолженность по зарплате.
                                        p 3 декабря 2016
                        .cell.cell__xs-4
                            .blogs__item
                                .media
                                    .media__img: a(href="#"): img(src="images/imgAva-2.png" alt="")
                                    .media__body
                                        a(href="#")
                                            b.text--info Татьяна Зеленина
                                            p журналист
                                        a(href="#"): b.text__lg.text--primary Пенсия от Шанель.
                                        p 3 декабря 2016
                        .cell.cell__xs-4
                            .blogs__item
                                .media
                                    .media__img: a(href="#"): img(src="images/imgAva-2.png" alt="")
                                    .media__body
                                        a(href="#")
                                            b.text--info Татьяна Зеленина
                                            p журналист
                                        a(href="#"): b.text__lg.text--primary В осажденной Москве в декабре 1941 года в бомбоубежищах работали детские сады
                                        p 3 декабря 2016
                    include ../components/_paginator
                include ../components/_share
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

