main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .blogs
                    h2.text--uppercase Материалы по тегу #проектаист
                    h3 посты в блоге
                    .row
                        .cell.cell__xs-7
                            .blogs-main
                                .inner
                                    .media
                                        .media__img: a(href="#"): img(src="images/imgAva.png" alt="")
                                        .media__body
                                            a(href="#")
                                                b Татьяна Зеленина
                                                p журналист
                                    h2: a(href="#") Про женское репродуктивное здоровье и возраст
                                    p 15 мин назад
                        .cell.cell__xs-5
                            .blogs__item
                                .media
                                    .media__img: a(href="#"): img(src="images/imgAva-1.png" alt="")
                                    .media__body
                                        a(href="#")
                                            b.text--info Анжелика Худолеева
                                            p руководитель проекта #[br] "Аист на крыше"
                                        a(href="#"): b.text--primary Лишенные чуда
                                        p 1 день назад
                            .blogs__item
                                .media
                                    .media__img: a(href="#"): img(src="images/imgAva.png" alt="")
                                    .media__body
                                        a(href="#")
                                            b.text--info Татьяна Зеленина
                                            p журналист
                                        a(href="#"): b.text--primary Про baby-box
                                        p 3 декабря 2016
                                        .margtop30
                                            a.text__xs.text--info.text--uppercase(href="#"): b Другие посты блога #[img(src="images/arr-b.png", alt="")]
                .opinion
                    h3 Мнения экспертов
                    .row
                        .cell.cell__xs-6
                            .row
                                .cell.cell__xs-5
                                    img(src="images/img-opinion-1.png", alt="")
                                .cell.cell__xs-7
                                    h2: a(href="#") Нужна ли бесплатная школа контрацепции в России?
                                    .blockquote-footer
                                        b.text--warning Георгий Фридман
                                        p.text--default редактор журнала
                        .cell.cell__xs-6
                            .row
                                .cell.cell__xs-5
                                    img(src="images/img-opinion-2.png", alt="")
                                .cell.cell__xs-7
                                    h2: a(href="#") Автомат в песочнице
                                    .blockquote-footer
                                        b.text--warning Марина Глебова
                                        p.text--default доцент кафедры демографии  НИУ ВШЭ
                        .cell.cell__xs-6
                            .row
                                .cell.cell__xs-5
                                    img(src="images/img-opinion-3.png", alt="")
                                .cell.cell__xs-7
                                    h2: a(href="#") Учить или нет? В какой степени садик должен готовить детей к школе?
                                    .blockquote-footer
                                        b.text--warning Анжелика Худолеева
                                        p.text--default руководитель проекта
                        .cell.cell__xs-6
                            .row
                                .cell.cell__xs-5
                                    img(src="images/img-opinion-4.png", alt="")
                                .cell.cell__xs-7
                                    h2: a(href="#") Есть ли мужчины в наших селеньях?
                                    .blockquote-footer
                                        b.text--warning Татьяна Зеленина
                                        p.text--default журналист
                                    .margtop10
                                        a.text__xs.text--warning.text--uppercase(href="#"): b другие мнения #[img(src="images/arr.png", alt="")]
                .article
                    .row
                        .cell.cell__xs-6
                            h3 Статьи
                        .cell.cell__xs-6.text--right
                            a.text__xs.text--uppercase(href="#"): b другие статьи  #[img(src="images/arr-w.png", alt="")]
                    .tabs
                        .tabs__content.active
                            h1 Найти помещение – это самое сложное и&nbsp;болезненное
                            hr
                            p На этот раз мы решили узнать у владелицы частного #[br] детского сада из Калуги Ольги Новиковой, как она #[br] решилась на этот смелый поступок и с какими #[br] трудностями столкнулась.
                        .tabs__content
                            h1 Классы для будущих родителей. Опыт Бельгии
                            hr
                            p На этот раз мы решили узнать у владелицы частного #[br] детского сада из Калуги Ольги Новиковой, как она #[br] решилась на этот смелый поступок и с какими #[br] трудностями столкнулась.
                        .tabs__content
                            h1 Откровенно говоря, спортивным занятием это назвать язык не поворачивается
                            hr
                            p На этот раз мы решили узнать у владелицы частного #[br] детского сада из Калуги Ольги Новиковой, как она #[br] решилась на этот смелый поступок и с какими #[br] трудностями столкнулась.
                        ul.tabs__caption
                            li.active Найти помещение – это самое сложное и болезненное
                            li Классы для будущих родителей. Опыт Бельгии
                            li Откровенно говоря, спортивным занятием это назвать язык не поворачивается
                include ../components/_share
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

