main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .contacts
                    .row
                        .cell.cell__xs-3
                            .media__img: a(href="#"): img(src="images/imgAva-1.png" alt="")
                            p.margbot30
                                b.text--info Анжелика Худолеева #[br]
                                span.text--default руководитель проекта
                            p.text--default Общественный проект «Аист на крыше».  Фонд гражданских проектов «Социумъ».
                        .cell.cell__xs-1
                        .cell.cell__xs-5
                            h2 Контакты
                            p.margbot30.text--default Сегодня вопросы и предложения мы принимаем на электронную почту нашего проекта #[a(href="#") press@proaist.ru]
                            p: b Наши страницы в социальных сетях:
                            ul.list--inline
                                li: a(href="#"): img(src="images/icons/soc-1.png")
                                li: a(href="#"): img(src="images/icons/soc-2.png")
                                li: a(href="#"): img(src="images/icons/soc-3.png")
                            p.margtop40.text--default В ближайшее время у проекта появятся офисы в Москве и Санкт-Петербурге и постоянно действующая телефонная линия.
                            h3 Отправить нам сообщение можно через форму
                            form
                                .form-group
                                    +fieldInput('text', 'name', 'name', '', 'Как Вас зовут?', 'Как Вас зовут?', false)
                                .form-group
                                    +fieldInput('email', 'email', 'email', '', 'Ваша электронная почта', 'Ваша электронная почта', false)
                                .form-group
                                    +fieldInput('text', 'theme', 'theme', '', 'Тема сообщения', 'Тема сообщения', false)
                                .form-group
                                    +fieldTextarea('text', 'text', '', 'Текст вашего сообщения', 6, '', false)
                                .form-group
                                    button.btn.btn--transparent.btn--full(type="submit") отправить сообщение
                include ../components/_share
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

