main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .edit
                    h2.text--uppercase Демографический журнал
                    h3 Выпуски журнала
                    .row.text--center
                        .cell.cell__xs-4
                            a.edit__item(href="#")
                                img(src="images/edit-1.jpg", alt="")
                                b.text--info Выпуск № 6, декабрь 2016
                        .cell.cell__xs-4
                            a.edit__item(href="#")
                                img(src="images/edit-2.jpg", alt="")
                                b.text--info Выпуск № 6, декабрь 2016
                        .cell.cell__xs-4
                            a.edit__item(href="#")
                                img(src="images/edit-1.jpg", alt="")
                                b.text--info Выпуск № 6, декабрь 2016
                        .cell.cell__xs-4
                            a.edit__item(href="#")
                                img(src="images/edit-2.jpg", alt="")
                                b.text--info Выпуск № 6, декабрь 2016
                        .cell.cell__xs-4
                            a.edit__item(href="#")
                                img(src="images/edit-1.jpg", alt="")
                                b.text--info Выпуск № 6, декабрь 2016
                .edit-words
                    h2.text--uppercase Слово главного редактора
                    .row
                        .cell.cell__xs-3
                            img(src="images/edit-3.jpg", alt="")
                        .cell.cell__xs-9
                            p.text__lg Уважаемые коллеги!
                            hr
                            p Мы приветствуем вас первым номером нашего «Демографического журнала».
                            p Мы — это проект «Аист на крыше». Наша задача — скорректировать отношение государства к демографическим проблемам, которые есть уже и только еще ждут нас впереди. Этот журнал — площадка, на которой специалисты самого разного уровня смогут делиться своими трудами, мыслями, результатами исследований. Мы предоставим слово демографам, врачам, педагогам, психологам, представителям исполнительной и законодательной власти.
                            .text--right
                                b.text__lg Татьяна Зеленина
                .edit.edit-tabs
                    .row
                        .cell.cell__xs-6
                            p.text__xs Создатель: Фонд гражданских проектов «Социумъ». Главный редактор: Татьяна Зеленина. Редакционный совет: Худолеева А. Ю., Ракша А. И., Козлов В. А., Хряева И. О. Дизайн, верстка: 102studio.ru. Корректор: Оксана Сандимирова.  Адрес редакции: 195043, г. Санкт-Петербург, Рябовское шоссе, д. 120, лит. А.
                        .cell.cell__xs-6
                            p.text__xs Перепечатка материалов или их фрагментов допускается только по согласованию с редакцией. Учредитель: Фонд гражданских проектов «Социумъ», 195043, г. Санкт-Петербург, Рябовское шоссе, д.120, лит. А.
                include ../components/_share
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

