main.page-main
    .container
        .row
            section.cell
                .application
                    h3.text--primary Обращение к посетителям нашего портала
                    .row
                        .cell.cell__xs-6
                            img(src="images/img-app.jpg", alt="")
                        .cell.cell__xs-6
                            blockquote.blockquote.text--center
                                .blockquote-body
                                    p.text__lg Человеку свойственно любить жизнь. #[br] И потому мы всегда будем против того, что мешает жизни: болезней, насилия, абортов и страха ответственности.
                                .blockquote-footer
                                    b.text--info Анжелика Худолеева
                                    p.text--default руководитель проекта
                    .row
                        .cell.cell__xs-6
                            p Сегодня количество абортов в стране уже сравнялось с количеством рождённых детей. А показатели смертности по-прежнему превышают показатели рождаемости. Нас становится всё меньше и меньше, прирост населения у нас происходит в основном за счёт приезжих, а это гибельный путь для любой нации.
                        .cell.cell__xs-6
                            p Проект «Аист на крыше» – это люди, верящие в будущее России и знающие, что нужно сделать для того, чтобы мы не исчезли совсем. Среди нас есть экономисты и врачи, политики, психологи и педагоги. Мы рады всем, кто, так же как и мы, любит жизнь! #[br] Мы верим, что профессиональные и сплочённые усилия обязательно дадут результат! Читайте наш #[a(href="#") "Меморандум"].
                .opinion
                    h3 Мнения экспертов
                    .row
                        .cell.cell__xs-6
                            .row
                                .cell.cell__xs-5
                                    img(src="images/img-opinion-1.png", alt="")
                                .cell.cell__xs-7
                                    h2 Нужна&nbsp;ли&nbsp;бесплатная школа контрацепции в России?
                                    .blockquote-footer
                                        b.text--warning Анжелика Худолеева
                                        p.text--default руководитель проекта
                        .cell.cell__xs-6
                            .row
                                .cell.cell__xs-5
                                    img(src="images/img-opinion-2.png", alt="")
                                .cell.cell__xs-7
                                    h2 Есть ли мужчины в наших селеньях?
                                    .blockquote-footer
                                        b.text--warning Марина Глебова
                                        p.text--default доцент кафедры демографии  НИУ ВШЭ
                                    .margtop10
                                        a.text__xs.text--warning.text--uppercase(href="#"): b другие мнения #[img(src="images/arr.png", alt="")]
                .article
                    h3 Статьи
                    .tabs
                        .tabs__content.active
                            h1 Найти помещение – это самое сложное и&nbsp;болезненное
                            hr
                            p На этот раз мы решили узнать у владелицы частного #[br] детского сада из Калуги Ольги Новиковой, как она #[br] решилась на этот смелый поступок и с какими #[br] трудностями столкнулась.
                        .tabs__content
                            h1 Классы для будущих родителей. Опыт Бельгии
                            hr
                            p На этот раз мы решили узнать у владелицы частного #[br] детского сада из Калуги Ольги Новиковой, как она #[br] решилась на этот смелый поступок и с какими #[br] трудностями столкнулась.
                        .tabs__content
                            h1 Откровенно говоря, спортивным занятием это назвать язык не поворачивается
                            hr
                            p На этот раз мы решили узнать у владелицы частного #[br] детского сада из Калуги Ольги Новиковой, как она #[br] решилась на этот смелый поступок и с какими #[br] трудностями столкнулась.
                        ul.tabs__caption
                            li.active Найти помещение – это самое сложное и болезненное
                            li Классы для будущих родителей. Опыт Бельгии
                            li Откровенно говоря, спортивным занятием это назвать язык не поворачивается
                .blogs
                    h3 Новое в блоге
                    .row
                        .cell.cell__xs-7
                            .blogs-main
                                .inner
                                    .media
                                        .media__img: a(href="#"): img(src="images/imgAva.png" alt="")
                                        .media__body
                                            a(href="#")
                                                b Татьяна Зеленина
                                                p журналист
                                    h2: a(href="#") Про женское репродуктивное здоровье и возраст
                                    p 15 мин назад
                        .cell.cell__xs-5
                            .blogs__item
                                .media
                                    .media__img: a(href="#"): img(src="images/imgAva-1.png" alt="")
                                    .media__body
                                        a(href="#")
                                            b.text--info Анжелика Худолеева
                                            p руководитель проекта #[br] "Аист на крыше"
                                        a(href="#"): b.text--primary Лишенные чуда
                                        p 1 день назад
                            .blogs__item
                                .media
                                    .media__img: a(href="#"): img(src="images/imgAva.png" alt="")
                                    .media__body
                                        a(href="#")
                                            b.text--info Татьяна Зеленина
                                            p журналист
                                        a(href="#"): b.text--primary Про baby-box
                                        p 3 декабря 2016
                                        .margtop30
                                            a.text__xs.text--info.text--uppercase(href="#"): b Другие посты блога #[img(src="images/arr-b.png", alt="")]
                .test
                    .test__item.test__item--1
                        p.text--default 3 декабря 2016
                        h3 Сколько у Вас детей?
                        form
                            +fieldRadio('пока нет, хочу завести в ближайшие 4 года', 'child1', 'radio', false)
                            +fieldRadio('нет и не планирую', 'child2', 'radio', false)
                            +fieldRadio('1', 'child3', 'radio', false)
                            +fieldRadio('2', 'child4', 'radio', false)
                            +fieldRadio('3', 'child5', 'radio', false)
                            +fieldRadio('4+', 'child6', 'radio', false)
                        .test__item--next
                            a(href="#"): img(src="images/arr-b.png", alt="")
                        .margtop30
                            a.text__xs.text--info.text--uppercase(href="#"): b тесты #[img(src="images/arr-b.png", alt="")]
                    .test__item.test__item--2
                        p.text--default 3 декабря 2016
                        h3 Сколько у Вас детей?
                        form
                            +fieldRadio('пока нет, хочу завести в ближайшие 4 года', 'child11', 'radio1', false)
                            +fieldRadio('нет и не планирую', 'child12', 'radio1', false)
                            +fieldRadio('1', 'child13', 'radio1', false)
                            +fieldRadio('2', 'child14', 'radio1', false)
                            +fieldRadio('3', 'child15', 'radio1', false)
                            +fieldRadio('4+', 'child16', 'radio1', false)
                        .test__item--next
                            a(href="#"): img(src="images/arr.png", alt="")
                        .margtop30
                            a.text__xs.text--warning.text--uppercase(href="#"): b Опросы #[img(src="images/arr.png", alt="")]
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

