main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .issue
                    .row
                        .cell.cell__xs-4
                            img(src="images/issue.jpg", alt="")
                        .cell.cell__xs-8
                            .text--right
                                p: a.text__xs.text--info.text--uppercase(href="#"): b все выпуски журнала #[img(src="images/arr-b.png", alt="")]
                                p: a.text__xs.text--info.text--uppercase(href="#"): b предыдущий #[img(src="images/arr-b.png", alt="")]
                                p: a.text__xs.text--info.text--uppercase(href="#"): b следующий #[img(src="images/arr-b.png", alt="")]
                            h2 Демографический #[br] журнал
                            hr
                            p.text__lg.text--default Выпуск №3
                            h3 Содержание
                            .issue__item
                                p: a(href="#") «Давайте уже от лозунгов и констатации переходить  к конкретным предложениям»
                                p.text--default Худолеева А.
                            .issue__item
                                p: a(href="#") «Необходимо создавать страну, пригодную для рождения детей»
                                p.text--default Худолеева А.
                            .issue__item
                                p: a(href="#") Семейная политика, мировой опыт
                                p.text--default Бурикова И., Коновалова М., Юрьев А.
                            .issue__item
                                p: a(href="#") «Давайте уже от лозунгов и констатации переходить  к конкретным предложениям»
                                p.text--default Худолеева А.
                            a.text__xs.text--info.text--uppercase(href="#"): b все выпуски #[img(src="images/arr-b.png", alt="")]
                .application.application-page
                    .row
                        .cell.cell__xs-3
                            img(src="images/author-1.jpg", alt="")
                        .cell.cell__xs-9
                            .row.end__xs
                                .cell.cell__xs-6
                                    blockquote.blockquote.text--center
                                        .blockquote-body.text--left
                                            p Как убедить молодых родителей не останавливаться на одном или даже на двоих детях, а рожать больше?
                            .cell__xs-10
                                .margbot30
                                    h2.text--uppercase Слово #[br] главного редактора #[br] к выпуску
                                    hr
                                    p.text--primary: b Татьяна Зеленина
                                p.text__lg Уважаемые коллеги!
                                p Мы приветствуем вас первым номером нашего «Демографического журнала».
                                p Мы — это проект «Аист на крыше». Наша задача — скорректировать отношение государства к демографическим проблемам, которые есть уже и только еще ждут нас впереди. Этот журнал — площадка, на которой специалисты самого разного уровня смогут делиться своими трудами, мыслями, результатами исследований. Мы предоставим слово демографам, врачам, педагогам, психологам, представителям исполнительной и законодательной власти. И вот с чего мы решили начать этот серьезный разговор.
                                .text--center
                                    h3 Как убедить молодых родителей не останавливаться на одном или даже на двоих детях, а рожать больше?
                                p Каждое государство ищет собственный рецепт. Семейная политика, мировой опыт — исследование Ольги Исуповой. Безопасность государства — это его граждане. Ключевое условие подъема экономики, роста производительности, конкурентоспособности страны — это качество человеческого ресурса страны и, как результат, ее конкурентоспособность. Инга Бурикова, Мария Коновалова и Александр Юрьев утверждают, что в XXI веке борьба идет уже не за территории, а за человеческий ресурс. Важно помнить: Россия — это ее люди.
                                .text--center
                                    h3 И все же как не потерять качество в погоне за количеством? Что есть грамотный контроль над рождаемостью?
                                p Виктория Сакевич уверена: дети в семье должны быть желанными. И первые, и вторые, и пятые, и все следующие. Она утверждает, что запрет аборта мало влияет на его распространенность, а для повышения рождаемости важнее культура планирования семьи. Со своей стороны, Валерий Елизаров уверен: чтобы женщины охотнее рожали, необходимо создавать страну, пригодную для рождения детей.
                                p Так что же все-таки происходит сейчас с демографией в России? Об общих тенденциях изменения рождаемости в Российской Федерации подробно рассказывает Алексей Ракша. В целом же первый номер «Демографического журнала» проекта «Аист на крыше» — это только начало серьезного, вдумчивого и, надеюсь, интересного для всех нас разговора.
                                p: a.text__xs.text--info.text--uppercase(href="#"): b предыдущий #[img(src="images/arr-b.png", alt="")]
                                p: a.text__xs.text--info.text--uppercase(href="#"): b все выпуски журнала #[img(src="images/arr-b.png", alt="")]
                                p: a.text__xs.text--info.text--uppercase(href="#"): b следующий #[img(src="images/arr-b.png", alt="")]
                .edit.edit-tabs
                    .row
                        .cell.cell__xs-6
                            p.text__xs Создатель: Фонд гражданских проектов «Социумъ». Главный редактор: Татьяна Зеленина. Редакционный совет: Худолеева А. Ю., Ракша А. И., Козлов В. А., Хряева И. О. Дизайн, верстка: 102studio.ru. Корректор: Оксана Сандимирова.  Адрес редакции: 195043, г. Санкт-Петербург, Рябовское шоссе, д. 120, лит. А.
                        .cell.cell__xs-6
                            p.text__xs Перепечатка материалов или их фрагментов допускается только по согласованию с редакцией. Учредитель: Фонд гражданских проектов «Социумъ», 195043, г. Санкт-Петербург, Рябовское шоссе, д.120, лит. А.
                include ../components/_share
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

