main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .opinion.opinion-list
                    h3 Мнения экспертов
                    .row
                        - for (var x = 1; x < 3; x++)
                            .cell.cell__xs-6
                                .row.opinion-list__item
                                    .cell.cell__xs-5
                                        img(src="images/img-opinion-1.png", alt="")
                                    .cell.cell__xs-7
                                        span.text--default 16 декабря 2016
                                        h2: a(href="#") Нужна ли бесплатная школа контрацепции в России?
                                        p
                                            .tags-txt Здоровье
                                        .blockquote--body
                                            b.text--warning Георгий Фридман
                                            p.text--default редактор журнала
                            .cell.cell__xs-6
                                .row.opinion-list__item
                                    .cell.cell__xs-5
                                        img(src="images/img-opinion-2.png", alt="")
                                    .cell.cell__xs-7
                                        span.text--default 16 декабря 2016
                                        h2: a(href="#") Автомат в песочнице
                                        p
                                            .tags-txt Статистика
                                            .tags-txt Здоровье
                                        .blockquote--body
                                            b.text--warning Марина Глебова
                                            p.text--default доцент кафедры демографии  НИУ ВШЭ
                            .cell.cell__xs-6
                                .row.opinion-list__item
                                    .cell.cell__xs-5
                                        img(src="images/img-opinion-3.png", alt="")
                                    .cell.cell__xs-7
                                        span.text--default 16 декабря 2016
                                        h2: a(href="#") Учить или нет? В какой степени садик должен готовить детей к школе?
                                        p
                                            .tags-txt Статистика
                                        .blockquote--body
                                            b.text--warning Анжелика Худолеева
                                            p.text--default руководитель проекта
                            .cell.cell__xs-6
                                .row.opinion-list__item
                                    .cell.cell__xs-5
                                        img(src="images/img-opinion-4.png", alt="")
                                    .cell.cell__xs-7
                                        span.text--default 16 декабря 2016
                                        h2: a(href="#") Есть ли мужчины в наших селеньях?
                                        p
                                            .tags-txt Статистика
                                        .blockquote--body
                                            b.text--warning Татьяна Зеленина
                                            p.text--default журналист
                    include ../components/_paginator
                include ../components/_share
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

