main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .article.opinion-detail
                    .inner
                        p.text__lg Мнения экспертов на тему:
                        hr
                        h1 Эксперты не видят возможности для быстрого роста реальных  располагаемых денежных доходов населения
                        .tags-txt Здоровье
                        .tags-txt Власть
                .opinion-info
                    .opinion-info__item
                        .row
                            .cell.cell__xs-3
                                .opinion-info-detail
                                    h3.text--uppercase эксперт
                                    img(src="images/img-opinion-3.png", alt="").
                                    .blockquote--body
                                        b.text--warning Анжелика Худолеева
                                        p руководитель проекта
                                        p 14 декабря 2016
                            .cell.cell__xs-6
                                p Proaist.ru продолжает рассказывать об истории дошкольного образования в России. В прошлый раз мы познакомили читателей с людьми, стоящими у истоков первых детских садов в нашей стране. Сегодня речь коснется дошкольного образования после революции 1917 года. О том, какое место отводилось детям в молодом советском государстве, рассказала заместитель директора института проблем образования «Эврика» Наталья Шадрина. Данный проект, к сожалению, не может быть рассмотрен серьезно, так как носит исключительно популистский характер. Дело в том, что ожидаемые экономические затраты от его введения велики – Министерство финансов его практически наверняка не пропустит. Как сказали депутаты, коммунальные платежи могут составлять до половины пенсии по старости в месяц, то есть около 6
                    .opinion-info__item
                        .row
                            .cell.cell__xs-3
                                .opinion-info-detail
                                    h3.text--uppercase эксперт
                                    img(src="images/img-opinion-1.png", alt="").
                                    .blockquote--body
                                        b.text--warning Георгий фридман
                                        p руководитель проекта
                                        p 14 декабря 2016
                            .cell.cell__xs-6
                                p Proaist.ru продолжает рассказывать об истории дошкольного образования в России. В прошлый раз мы познакомили читателей с людьми, стоящими у истоков первых детских садов в нашей стране. Сегодня речь коснется дошкольного образования после революции 1917 года. О том, какое место отводилось детям в молодом советском государстве, рассказала заместитель директора института проблем образования «Эврика» Наталья Шадрина."
                    .opinion-info__item
                        .row
                            .cell.cell__xs-3
                                .opinion-info-detail
                                    h3.text--uppercase эксперт
                                    img(src="images/img-opinion-4.png", alt="").
                                    .blockquote--body
                                        b.text--warning Татьяна Зеленина
                                        p журналист
                                        p 14 декабря 2016
                            .cell.cell__xs-6
                                p Для государства может быть выгодно принятие государственных мер, которые позволят учитывать при расчёте уровня пенсии "родительский" стаж гражданина. К таким мерам можно причислить, в частности, учёт в стаж матери декретного отпуска по уходу за каждым из детей, перевод части пенсионных отчислений детей напрямую родителям и др. Безусловно, все эти меры требуют серьёзной экспертной проработки, основанной на анализе мирового опыта.
                    .opinion-info__item
                        .row
                            .cell.cell__xs-3
                            .cell.cell__xs-6
                                a.text__xs.text--warning.text--uppercase(href="#"): b к другим темам #[img(src="images/arr.png", alt="")]
                include ../components/_share
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

