main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .article.article-detail
                    .inner
                        h1 Меморандум проекта "АИСТ НА КРЫШЕ"
                        .tags-txt Здоровье
                .article-info
                    .article-info__item.cell__xs-3
                    .article-info__item.cell__xs-7
                        p Социологические исследования показывают, что в современной российской ситуации женщина всё чаще и чаще рассчитывает только на себя. Среднестатистическая российская женщина не верит мужчинам и не рассчитывает на поддержку государства. Причём это не зависит от того, замужем она или нет, имеет высокий или низкий достаток, работает или является домохозяйкой. А потому, вставая перед необходимостью принимать решение рожать или нет, женщина, прежде всего, трезво оценивает собственные силы и… часто идёт на аборт.
                         p Сегодня количество абортов в стране уже сравнялось с количеством рождённых детей. А показатели смертности по-прежнему превышают показатели рождаемости. Нас становится всё меньше и меньше, прирост населения у нас происходит в основном за счёт приезжих, а это гибельный путь для любой нации.
                        p Проект «Аист на крыше» – это люди, верящие в будущее России и знающие, что нужно сделать для того, чтобы мы не исчезли совсем. Среди нас есть экономисты и врачи, политики, психологи и педагоги. Мы рады всем, кто, так же как и мы, любит жизнь!
                        p Мы верим, что профессиональные и сплочённые усилия обязательно дадут результат!
                        h5 Наши задачи на ближайшие пять лет:
                        ul.list--bullet
                            li cкорректировать отношение государства к проблеме восполнения россиян. Безопасность государства – наши граждане! Здоровые,талантливые, позитивные и любящие жизнь!
                            li разработать и предложить для общественного обсуждения ряд законопроектов, способствующих развитию системы поддержки материнства и детства.
                            li организовать запуск просветительских кампаний «Мы любим жизнь», продвигающих семейный досуг, счастье материнства и отцовства и государственные программы поддержки: субсидии, компенсации, льготы.
                        p.text__lg.text--primary Мы уже доказали миру свои могущество и значимость! #[br] Время думать о будущем – о наших детях. #[br] Пора полюбить жизнь заново!
                include ../components/_share
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

