main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .poll
                    .poll-title
                        .row
                            .cell.cell__xs-2
                            .cell.cell__xs-9
                                ul.list--inline
                                    li.text--default.text__lg Результат
                                    li.text--default #[img(src="images/poll-ico.png", alt="")] 286
                        .row
                            .cell.cell__xs-2.text--right
                                h1 #10
                            .cell.cell__xs-9
                                h1 Пеленание младенцев в шелковые пеленки особой выделки.
                    .poll-body
                        .row.poll-body__item
                            .cell.cell__xs-2.text--right
                                .poll-body__num 1
                            .cell.cell__xs-8
                                h5 Как вы относитесь к регулярному пеленанию младенцев в шелковые пеленки особой выделки?
                                hr
                                .poll-results.cell__xs-9
                                    .poll__result.slider-line--js(data-per="100") первый вариант ответа
                                    .poll__result.slider-line--js(data-per="60") 2
                                    .poll__result.slider-line--js(data-per="80") 3
                                    .poll__result.slider-line--js(data-per="30") 4
                        .row.poll-body__item
                            .cell.cell__xs-2.text--right
                                .poll-body__num 2
                            .cell.cell__xs-8
                                h5 Как регулярно пеленать младенцев в шелковые пеленки особой выделки?
                                hr
                                .poll-results.cell__xs-9
                                    .poll__result.slider-line--js(data-per="80") первый вариант ответа
                                    .poll__result.slider-line--js(data-per="50") 2
                                    .poll__result.slider-line--js(data-per="95") 3
                                    .poll__result.slider-line--js(data-per="30") 4
                        .row.poll-body__item
                            .cell.cell__xs-2.text--right
                                .poll-body__num 3
                            .cell.cell__xs-8
                                h5 Какой марки  шелковые пеленки особой выделки Вы покупаете чаще?
                                hr
                                .poll-results.cell__xs-9
                                    .poll__result.slider-line--js(data-per="100") первый вариант ответа
                                    .poll__result.slider-line--js(data-per="60") 2
                                    .poll__result.slider-line--js(data-per="80") 3
                                    .poll__result.slider-line--js(data-per="30") 4
                                .margtop40.cell__xs-7
                                    a.btn.btn--transparent.btn--full(href="#") к списку опросов
                include ../components/_share
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

