main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .poll
                    .poll-title
                        .row
                            .cell.cell__xs-2.text--right
                                h1 #1
                            .cell.cell__xs-9
                                h1 Пеленание младенцев в шелковые пеленки особой выделки.
                    .poll-body
                        form
                            .row.poll-body__item
                                .cell.cell__xs-2.text--right
                                    .poll-body__num 1
                                .cell.cell__xs-8
                                    h5 Как вы относитесь к регулярному пеленанию младенцев в шелковые пеленки особой выделки?
                                    hr
                                    +fieldRadio('пока нет, хочу завести в ближайшие 4 года', 'child1', 'radio', true)
                                    +fieldRadio('нет и не планирую', 'child2', 'radio', false)
                                    +fieldRadio('1', 'child3', 'radio', false)
                                    +fieldRadio('2', 'child4', 'radio', false)
                                    +fieldRadio('3', 'child5', 'radio', false)
                                    +fieldRadio('4+', 'child6', 'radio', false)
                            .row.poll-body__item
                                .cell.cell__xs-2.text--right
                                    .poll-body__num 2
                                .cell.cell__xs-8
                                    h5 Как регулярно пеленать младенцев в шелковые пеленки особой выделки?
                                    hr
                                    +fieldRadio('пока нет, хочу завести в ближайшие 4 года', 'child11', 'radio', false)
                                    +fieldRadio('нет и не планирую', 'child21', 'radio', false)
                                    +fieldRadio('1', 'child31', 'radio', false)
                                    +fieldRadio('2', 'child41', 'radio', false)
                                    +fieldRadio('3', 'child51', 'radio', false)
                                    +fieldRadio('4+', 'child61', 'radio', false)
                            .row.poll-body__item
                                .cell.cell__xs-2.text--right
                                    .poll-body__num 3
                                .cell.cell__xs-8
                                    h5 Какой марки  шелковые пеленки особой выделки Вы покупаете чаще?
                                    hr
                                    .form__group.cell__xs-7
                                        select.form-control
                                            option Бренд пеленок
                                            option Бренд пеленок
                                            option Бренд пеленок
                                            option Бренд пеленок
                                            option Бренд пеленок
                            .row.poll-body__item
                                .cell.cell__xs-2.text--right
                                    .poll-body__num 4
                                .cell.cell__xs-8
                                    h5 Как регулярно пеленать младенцев в шелковые пеленки особой выделки?
                                    hr
                                    .form__group.cell__xs-7
                                        +fieldTextarea('text', 'text', '', '', 6, '', false)
                                        .margtop40
                                            button.btn.btn--transparent.btn--full(type="submit") отправить ответы
                include ../components/_share
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

