main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .article--title
                    h2.text--uppercase архив опросов
                .test
                    .test__item.test__item--1
                        p.text--default Опрос № 10
                        h3 Как вы относитесь  регулярному пеленанию младенцев в шелковые пеленки особой выделки?
                        b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .margtop10
                            a.text__xs.text--info.text--uppercase(href="#"): b принять участие #[img(src="images/arr-b.png", alt="")]
                    .test__item.test__item--2
                        p.text--default Опрос № 10
                        h3 Сколько у Вас детей?
                        b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .margtop10
                            a.text__xs.text--info.text--uppercase(href="#"): b принять участие #[img(src="images/arr-b.png", alt="")]
                .article--title
                    h2.text--uppercase Опросы
                .poll-items
                    .poll-items__item.poll-items__item--s
                        .num: b #9
                        .img
                            b: img(src="images/chart-2.png", alt="")
                        .title
                            b Найти помещение – это самое сложное и болезненное
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--info.text--uppercase(href="#"): b смотреть результаты #[img(src="images/arr-b.png", alt="")]
                    .poll-items__item.poll-items__item--d
                        .num: b #8
                        .img
                            b: img(src="images/chart-3.png", alt="")
                        .title
                            b Классы для будущих родителей. Опыт
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--info.text--uppercase(href="#"): b смотреть результаты #[img(src="images/arr-b.png", alt="")]
                    .poll-items__item
                        .num: b #7
                        .img
                            b: img(src="images/chart-1.png", alt="")
                        .title
                            b Как вы относитесь к регулярному пеленанию младенцев в шелковые пеленки особой выделки?
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--info.text--uppercase(href="#"): b смотреть результаты #[img(src="images/arr-b.png", alt="")]
                    .poll-items__item.poll-items__item--d
                        .num: b #9
                        .img
                            b: img(src="images/chart-3.png", alt="")
                        .title
                            b Найти помещение – это самое сложное и болезненное
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--info.text--uppercase(href="#"): b смотреть результаты #[img(src="images/arr-b.png", alt="")]
                    .poll-items__item
                        .num: b #8
                        .img
                            b: img(src="images/chart-1.png", alt="")
                        .title
                            b Классы для будущих родителей. Опыт
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--info.text--uppercase(href="#"): b смотреть результаты #[img(src="images/arr-b.png", alt="")]
                    .poll-items__item.poll-items__item--s
                        .num: b #7
                        .img
                            b: img(src="images/chart-2.png", alt="")
                        .title
                            b Как вы относитесь к регулярному пеленанию младенцев в шелковые пеленки особой выделки?
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--info.text--uppercase(href="#"): b смотреть результаты #[img(src="images/arr-b.png", alt="")]
                    .poll-items__item
                        .num: b #9
                        .img
                            b: img(src="images/chart-1.png", alt="")
                        .title
                            b Найти помещение – это самое сложное и болезненное
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--info.text--uppercase(href="#"): b смотреть результаты #[img(src="images/arr-b.png", alt="")]
                    .poll-items__item.poll-items__item--s
                        .num: b #8
                        .img
                            b: img(src="images/chart-2.png", alt="")
                        .title
                            b Классы для будущих родителей. Опыт
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--info.text--uppercase(href="#"): b смотреть результаты #[img(src="images/arr-b.png", alt="")]
                    .poll-items__item.poll-items__item--d
                        .num: b #7
                        .img
                            b: img(src="images/chart-3.png", alt="")
                        .title
                            b Как вы относитесь к регулярному пеленанию младенцев в шелковые пеленки особой выделки?
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--info.text--uppercase(href="#"): b смотреть результаты #[img(src="images/arr-b.png", alt="")]
                .main-template
                    .cell__xs-4.center-block
                        a.btn.btn--transparent.btn--full.text--uppercase(href="#") все опросы архива
                .share
                    ul.list--inline
                        li: b.text--uppercase поделиться:
                        li: a(href="#"): img(src="images/icons/soc-1.png")
                        li: a(href="#"): img(src="images/icons/soc-2.png")
                        li: a(href="#"): img(src="images/icons/soc-3.png")
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

