main.page-main
    .container
        .row
            section.cell
                .search
                    .search--main
                        form.search--control
                            input.form-control(type="search", placeholder="Что вы ищете?")
                            button.btn(type="submit"): img(src="images/ico-close.png", alt="")
                        p.text--default Найдено 78 совпадений
                        - for (var x = 1; x < 3; x++)
                            .search--main__item
                                h3.text--lowercase: a(href="#") Найти помещение – это самое сложное и болезненное
                                ul.breadcrumbs
                                    li
                                        a(href="#") Главная
                                    li.active= title
                            .search--main__item
                                h3.text--lowercase: a(href="#") Классы для будущих родителей. Опыт
                                ul.breadcrumbs
                                    li
                                        a(href="#") Главная
                                    li.active= title
                            .search--main__item
                                h3.text--lowercase: a(href="#") Откровенно говоря, спортивным занятием это назвать язык не поворачивается
                                ul.breadcrumbs
                                    li
                                        a(href="#") Главная
                                    li.active= title
                    include ../components/_paginator
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

