main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .sitemap
                    .sitemap--title
                        h2.text--uppercase карта сайта
                    .sitemap--main
                        .row
                            .cell.cell__xs-5
                                ul.list--unstyled
                                    li: b: a.parent(href="#") О проекте
                                    li: a(href="#") Команда проекта
                                    li: a(href="#") Мы любим жизнь!
                                    li: a(href="#") Дорожная карта
                                    li: a(href="#") Общественая организация
                                    li: a(href="#") Авторы
                                    li: a(href="#") Контакты
                            .cell.cell__xs-4
                                ul.list--unstyled
                                    li: b: a(href="#") Статьи
                                    li: b: a(href="#") Мнения экспертов
                                    li: b: a(href="#") Блог проекта
                            .cell.cell__xs-3
                                ul.list--unstyled
                                    li: b: a.parent(href="#") Практика
                                    li: a(href="#") Личный опыт
                                    li: a(href="#") Дошкольная жизнь
                                    li: a(href="#") Советы юриста
                                    li: a(href="#") Советы родителям
                                    li: a(href="#") За рубежом
                            .cell.cell__xs-5
                                ul.list--unstyled
                                    li: b: a.parent(href="#") Рейтинг врачей и мед.учреждений
                                    li: a(href="#") Рейтинг клиник
                                    li: a(href="#") Рейтинг врачей
                                    li: a(href="#") Все отзывы
                                    li: a(href="#") Оставить отзыв
                            .cell.cell__xs-4
                                ul.list--unstyled
                                    li: b: a.parent(href="#") Опросы и тесты
                                    li: a(href="#") Опросы
                                    li: a(href="#") Тесты
                            .cell.cell__xs-3
                                ul.list--unstyled
                                    li: a(href="#") Карта сайта
                                    li: a(href="#") Подписка на новости
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

