main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .poll
                    .poll-title
                        .row
                            .cell.cell__xs-2
                            .cell.cell__xs-9
                                h1 Результат теста #10
                    .poll-body
                        form
                            .row.poll-body__item
                                .cell.cell__xs-2
                                .cell.cell__xs-6
                                    p.text__lg.text--default Благодарим Вас за время уделенное на прохождение теста #[br] "Как вы относитесь  регулярному пеленанию младенцев в шелковые пеленки особой выделки?"
                                    b.text__lg Ваш результат: 66 баллов
                    .poll-footer
                        .row.poll-body__item
                            .cell.cell__xs-2
                            .cell.cell__xs-8
                                h2 Описание вашего результата теста
                                p Как вы относитесь  регулярному пеленанию младенцев в шелковые пеленки особой выделки? Как вы относитесь  регулярному пеленанию младенцев в шелковые пеленки особой выделки? Как вы относитесь  регулярному пеленанию младенцев в шелковые пеленки особой выделки? Текстовое описание результата теста Как вы относитесь  регулярному пеленанию младенцев в шелковые пеленки особой
                                p выделки? Как вы относитесь  регулярному пеленанию младенцев в шелковые пеленки особой выделки? Как вы относитесь  регулярному пеленанию младенцев в шелковые пеленки особой выделки?

                include ../components/_share
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

