main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .poll
                    .poll-title
                        .row
                            .cell.cell__xs-2.text--right
                                h1 #1
                            .cell.cell__xs-9
                                h1 Как вы относитесь  регулярному пеленанию младенцев в шелковые пеленки особой выделки?
                                p.text__lg.text--default Как вы относитесь  регулярному пеленанию младенцев в шелковые пеленки особой выделки? Как вы относитесь  регулярному пеленанию младенцев в шелковые пеленки особой выделки?
                                ul.list--inline
                                    li.margright30
                                        img(src="images/poll-ico-b.png", alt="")
                                        b  286
                                    li: b Поделиться:
                                    li: a(href="#"): img(src="images/icons/soc-1.png")
                                    li: a(href="#"): img(src="images/icons/soc-2.png")
                                    li: a(href="#"): img(src="images/icons/soc-3.png")
                    .poll-body
                        form
                            .row.poll-body__item
                                .cell.cell__xs-2.text--right
                                    .poll-body__num 1#[sup /34]
                                .cell.cell__xs-8
                                    h5 Как вы относитесь к регулярному пеленанию младенцев в шелковые пеленки особой выделки?
                                    hr
                                    +fieldRadio('пока нет, хочу завести в ближайшие 4 года', 'child1', 'radio', true)
                                    +fieldRadio('нет и не планирую', 'child2', 'radio', false)
                                    +fieldRadio('1', 'child3', 'radio', false)
                                    +fieldRadio('2', 'child4', 'radio', false)
                                    +fieldRadio('3', 'child5', 'radio', false)
                                    +fieldRadio('4+', 'child6', 'radio', false)
                            .row.poll-body__item
                                .cell.cell__xs-2.text--right
                                    .poll-body__num 2#[sup /34]
                                .cell.cell__xs-8
                                    h5 Как регулярно пеленать младенцев в шелковые пеленки особой выделки?
                                    hr
                                    +fieldRadio('пока нет, хочу завести в ближайшие 4 года', 'child11', 'radio', false)
                                    +fieldRadio('нет и не планирую', 'child21', 'radio', false)
                                    +fieldRadio('1', 'child31', 'radio', false)
                                    +fieldRadio('2', 'child41', 'radio', false)
                                    +fieldRadio('3', 'child51', 'radio', false)
                                    +fieldRadio('4+', 'child61', 'radio', false)
                            .row.poll-body__item
                                .cell.cell__xs-2.text--right
                                    .poll-body__num 3#[sup /34]
                                .cell.cell__xs-8
                                    h5 Какой марки  шелковые пеленки особой выделки Вы покупаете чаще?
                                    hr
                                    .form__group.cell__xs-7
                                        select.form-control
                                            option Бренд пеленок
                                            option Бренд пеленок
                                            option Бренд пеленок
                                            option Бренд пеленок
                                            option Бренд пеленок
                            .row.poll-body__item
                                .cell.cell__xs-2.text--right
                                    .poll-body__num 4#[sup /34]
                                .cell.cell__xs-8
                                    h5 Как регулярно пеленать младенцев в шелковые пеленки особой выделки?
                                    hr
                                    .form__group.cell__xs-7
                                        +fieldTextarea('text', 'text', '', '', 6, '', false)
                                        .margtop40
                                            a.text__xs.text--warning.text--uppercase(href="#"): b следующие вопросы #[img(src="images/arr.png", alt="")]
                include ../components/_share
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

