main.page-main
    .container
        .row
            section.cell
                include ../components/_breadcrumbs
                .article--title
                    h2.text--uppercase Тесты
                .poll-items
                    .poll-items__item.poll-items__item--s
                        .num: b #9
                        .img
                            b: img(src="images/test-1.png", alt="")
                        .title
                            b Найти помещение – это самое сложное и болезненное
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--warning.text--uppercase(href="#"): b пройти тест #[img(src="images/arr.png", alt="")]
                    .poll-items__item.poll-items__item--d
                        .num: b #8
                        .img
                            b: img(src="images/test-2.png", alt="")
                        .title
                            b Классы для будущих родителей. Опыт
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--warning.text--uppercase(href="#"): b пройти тест #[img(src="images/arr.png", alt="")]
                    .poll-items__item
                        .num: b #7
                        .img
                            b: img(src="images/test-3.png", alt="")
                        .title
                            b Как вы относитесь к регулярному пеленанию младенцев в шелковые пеленки особой выделки?
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--warning.text--uppercase(href="#"): b пройти тест #[img(src="images/arr.png", alt="")]
                    .poll-items__item.poll-items__item--d
                        .num: b #9
                        .img
                            b: img(src="images/test-2.png", alt="")
                        .title
                            b Найти помещение – это самое сложное и болезненное
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--warning.text--uppercase(href="#"): b пройти тест #[img(src="images/arr.png", alt="")]
                    .poll-items__item
                        .num: b #8
                        .img
                            b: img(src="images/test-3.png", alt="")
                        .title
                            b Классы для будущих родителей. Опыт
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--warning.text--uppercase(href="#"): b пройти тест #[img(src="images/arr.png", alt="")]
                    .poll-items__item.poll-items__item--s
                        .num: b #7
                        .img
                            b: img(src="images/test-1.png", alt="")
                        .title
                            b Как вы относитесь к регулярному пеленанию младенцев в шелковые пеленки особой выделки?
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--warning.text--uppercase(href="#"): b пройти тест #[img(src="images/arr.png", alt="")]
                    .poll-items__item
                        .num: b #9
                        .img
                            b: img(src="images/test-3.png", alt="")
                        .title
                            b Найти помещение – это самое сложное и болезненное
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--warning.text--uppercase(href="#"): b пройти тест #[img(src="images/arr.png", alt="")]
                    .poll-items__item.poll-items__item--s
                        .num: b #8
                        .img
                            b: img(src="images/test-1.png", alt="")
                        .title
                            b Классы для будущих родителей. Опыт
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--warning.text--uppercase(href="#"): b пройти тест #[img(src="images/arr.png", alt="")]
                    .poll-items__item.poll-items__item--d
                        .num: b #7
                        .img
                            b: img(src="images/test-2.png", alt="")
                        .title
                            b Как вы относитесь к регулярному пеленанию младенцев в шелковые пеленки особой выделки?
                        .count
                            b #[img(src="images/poll-ico-b.png", alt="")] 286
                        .link:  a.text__xs.text--warning.text--uppercase(href="#"): b пройти тест #[img(src="images/arr.png", alt="")]
                .paginator
                    include ../components/_paginator
                .share
                    ul.list--inline
                        li: b.text--uppercase поделиться:
                        li: a(href="#"): img(src="images/icons/soc-1.png")
                        li: a(href="#"): img(src="images/icons/soc-2.png")
                        li: a(href="#"): img(src="images/icons/soc-3.png")
            include ../components/_sidebar
        .margtop20: a(href="#"): img(src="images/banner-3.jpg" alt="")

