extends layouts/_default

block title
    title Аист на крыше
    - var title = 'Анжелика Худолеева'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_blog-list

block siteFooter
    include partials/_footer
