extends layouts/_default

block title
    title Аист на крыше
    - var title = 'В 30-е годы советская дошкольная педагогика развивалась серьезными темпами'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_blog-detail

block siteFooter
    include partials/_footer
