extends layouts/_default

block title
    title Аист на крыше
    - var title = 'Материалы по тегу #Проектаист'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_content-list

block siteFooter
    include partials/_footer
