extends layouts/_default

block title
    title Аист на крыше
    - var title = 'Журнал'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_issue-page

block siteFooter
    include partials/_footer
