extends layouts/_default

block title
    title Аист на крыше
    - var title = 'Карта сайта'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_sitemap

block siteFooter
    include partials/_footer
