extends layouts/_default

block title
    title Аист на крыше
    - var title = 'Статьи'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_test-result

block siteFooter
    include partials/_footer
